/*
@File: 

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.


*/

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:400,700&display=swap');

/* Color Variable */
$body-color:#545454;
$white-color: #ffffff;
$heading-color: #3c0c70;
$red-color : #ff440a;

/* Font Variable */
$body-font: 'Lato', sans-serif;
$banner-font: 'Titillium Web', sans-serif;

body {
    font-family: $body-font;
    color: $body-color;
    line-height: 1.8;
    font-size: 17px;
}

/* Default CSS Start */
img {
    max-width: 100%;
}
a {
    transition: .5s;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
a:focus {
    text-decoration: none;
}
button {
    box-shadow: none;
    border: none;
    background-color: transparent;

    &:focus {
        outline: 0;
    }
}
h3 {
    font-weight: 600;
    color: $heading-color;
    font-size: 22px;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
}
.d-table {
    width: 100%;
    height: 100%;
}
.d-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.pt-100 {
    padding-top: 100px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pb-100 {
    padding-bottom: 100px;
}

.theme-btn {
    line-height: 1;

    .default-btn {
        font-size:18px;
        background: $red-color;
        color: $white-color;
        padding: 15px 30px;
        border-radius: 5px;
        margin: 0 8px;
        display: inline-block;
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before {
            position: absolute;
            content:'';
            width:20px;
            height: 100%;
            left:-14px;
            top: 0;
            background: $white-color;
            z-index: -1;
            transform: skewX(10deg);
            transition: .5s;
        }

        &:hover {
            color: $red-color;
        }

        &:hover::before {
           width: 100%;
           transform: skewX(0);
           left: 0;
        }
    }
}
.section-title {
    margin-bottom: 50px;

    span {
        font-size: 20px;
        color: $red-color;
        font-weight: 700;
        margin-bottom: 15px;
        display: inline-block;
        line-height: 1;
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
        color: $heading-color;
        margin-bottom:15px;
    }

    p {
        max-width: 600px;
    }
}

/* Youtube Popup Butoon */
.mfp-iframe-holder .mfp-close {
    top: -45px;
    width: 45px;
    right: 0;
    text-align: center;
    height: 45px;
    line-height: 45px;
    padding: 0;
    border-radius: 0;
    border: 2px solid red;
    background: transparent;
}

/* Default CSS End */

/*---------- Home Page One CSS Start ----------*/

/* Header CSS Start */
.navbar-area .mean-container a.meanmenu-reveal span {
    height: 4px;
    margin-top: -6px;
    border-radius: 3px;
    position: relative;
    top: 8px;
}
.header-area {
    background:$heading-color;
    padding: 10px 0 10px;

    .header-left {
        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                list-style: none;
                display: inline-block;
                margin-right: 30px;
                line-height: 1;
                position: relative;

                a {
                    color: $white-color;

                    i {
                        color: $red-color;
                        margin-right: 6px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    .header-right {
        text-align: right;

        .header-social {
            padding-left: 0;
            margin-bottom: 0;
            display: inline-block;

            li {
                list-style: none;
                display: inline-block;

                a {
                    i {
                        color: $white-color;
                        font-size: 18px;
                        transition: .5s;
                        margin: 0 0 0 14px;

                        &:hover {
                            color: $red-color;
                        }
                    }
                } 
            }
        }
    }
}
/* Header CSS End */

/* Navbar CSS Start */
.navbar-area {
    .main-nav {
        position: unset;
        background: $white-color;
        padding:15px 0;

        .navbar {
            padding:0;

            .navbar-nav {
                .nav-item {
                    padding:0;
    
                    a {
                        color: #2c2c2c;
                        text-transform: capitalize;
                        padding:5px 0;
                        margin:0 0 0 40px;
                        font-weight: 600;

                        &:hover {
                            color: $red-color;
                        }
                    }
    
                    .active {
                        color: $red-color;
                    }
    
                    .dropdown-menu {
                        background: $white-color;
                        border: 0;
                        border-radius: 0;
                        padding: 0;
                        transition: .5s all;
                        top: 80px;
                        border-top: 2px solid $red-color;

                        &::before {
                            position: absolute;
                            content: '';
                            width: 0px;
                            height: 0;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 20px solid $red-color;
                            left: 35px;
                            top: -20px;
                        }

                        .nav-item {
                            a {
                                color: #2c2c2c;
                                text-transform: capitalize;
                                padding: 20px;
                                line-height: 1;
                                position: relative;
                                transition: 0s;
                                margin: 0;
                                border-bottom: 1px dashed $red-color;
              
                                &:hover {
                                    color: $red-color;
                                }
                            }
    
                            .active {
                                color: $red-color;
                            }
    
                            &:last-child a {
                                border-bottom: 0;
                            }
                        }
                    }
    
                    &:hover .dropdown-menu {
                        top: 60px;
                    }
    
                    &:hover .dropdown-toggle::after {
                        transform: rotate(-90deg);
                        color: $red-color;
                        top: -1px;
                    }
    
                    .dropdown-toggle {
                        &::after {
                            content: '\ea99';
                            font-family: icofont;
                            margin-left:0;
                            vertical-align:0;
                            border: 0;
                            font-size: 16px;
                            right: -5px;
                            position: relative;
                            top: 2px;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    transition: all .5s;
    width: 100% !important;
    box-shadow: 0 0 30px -10px rgba(0,0,0,.15);
}
/* Navbar CSS End */

/* Banner CSS Start */
.banner-slider {
    position: relative;

    .banner-item {
        background-position: center center;
        background-size: cover;
        position: relative;
        height: 800px;
        z-index: 0;

        &::before {
            position: absolute;
            content: '';
            background: linear-gradient(rgba(0, 0, 0, 0) -30%, rgb(0, 0, 0) 100%);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .banner-text {
            text-align: center;
            max-width: 860px;
            margin: auto;
            padding-bottom: 100px;

            h1 {
                font-size: 75px;
                font-weight: 700;
                color: $white-color;
                font-family: $banner-font;
                margin-bottom: 30px;
            }

            p {
                color: $white-color;
                max-width: 650px;
                margin: auto;
                font-size: 18px;
                margin-bottom: 35px;
            }

            .banner-btn {
                line-height: 1;

                .default-btn {
                    font-size:18px;
                    background: $red-color;
                    color: $white-color;
                    padding: 18px 30px;
                    border-radius: 5px;
                    margin: 0 10px;
                    display: inline-block;
                    position: relative;
                    z-index: 0;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        content:'';
                        width:20px;
                        height: 100%;
                        left:-14px;
                        top: 0;
                        background: $white-color;
                        z-index: -1;
                        transform: skewX(10deg);
                        transition: .5s;
                    }

                    &:hover {
                        color: $red-color;
                    }

                    &:hover::before {
                        width: 100%;
                        transform: skewX(0);
                        left: 0;
                    }
                   
                }
            }

        }
    }

    .owl-item {
        &.active {
            h1 {
                animation:slideInDown 2s cubic-bezier(0, 0, 0, 1.02);
            }

            p {
                animation:slideInLeft 2s cubic-bezier(0, 0, 0, 1.02);
            }
            
            .banner-btn {
                animation:slideInRight 2s cubic-bezier(0, 0, 0, 1.02);
            }
        }
    }

    .owl-prev, .owl-next {
        position: absolute;
        left: 20px;
        top: 45%;
        background: #ff440a !important;
        color: $white-color !important;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 25px !important;
        line-height: 50px !important;
        opacity: 0;
        transition: .5s;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50px;

        }

        &:hover {
            background: $white-color  !important;
            color: $red-color !important;
        }
    }

    .owl-next {
        left: inherit;
        right:20px;
    }

    &:hover .owl-prev {
        left: 40px;
        opacity: 1;
    }

    &:hover .owl-next {
        right: 40px;
        opacity: 1;
    }

    .owl-nav {
        margin-top: 0;
    }
}

.banner-bg-one {
    background-image: url(../img/banner/1.jpg);
}
.banner-bg-two {
    background-image: url(../img/banner/2.jpg);
}
/* Banner CSS End */

/* Features CSS Start */
.features-section {
    margin-top: -100px;
    z-index: 1;
    position: relative;

    .feature-card {
        padding: 30px;
        border-radius: 5px;
        background: $white-color;
        box-shadow:3px 5px 25px 0 rgba(0,0,0,.1);
        border: 1px solid transparent;
        transition:all .5s;
        margin-bottom: 30px;

        i {
            color: $heading-color;
            font-size: 35px;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background: #f5ebff;
            display: inline-block;
            text-align: center;
            line-height: 50px;
            margin-bottom: 30px;
        }

        span {
            display:block;
            font-size: 25px;
            color:$red-color;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1;
        }

        h3 {
            font-size: 20px;
            margin-bottom:10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 0;
            line-height: 1.5;
        }

        &:hover {
            border: 1px solid #d7b4fe;
            margin-top: -10px;
        }
    }
}
/* Features CSS End */

/* About CSS Start */
.about-section {
    padding-bottom: 130px;

    .section-title {
        margin: 0 auto 30px 0;
    }

    .about-img {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: #f5ebff;
            bottom: -30px;
            left: -30px;
            z-index: -1;
            animation-name: bg-cng;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background: #f5ebff;
            top: -30px;
            right: -30px;
            z-index: -1;
            animation-name: bg-cng;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
        }
    }

    .about-text {
        padding-left: 50px;

        .nav-tabs {
            border-bottom: 1px solid #e5e5e5;
            margin-bottom: 30px;
    
            .nav-item {
                margin-bottom: 0;
    
                .nav-link {
                    font-size: 18px;
                    color: #828282;
                    border-bottom: 2px solid transparent;
                    padding: 15px 0px;
                    border: 0;
                    line-height: 1;
                    margin-right: 30px;
    
                    &.active {
                        border-bottom: 2px solid $red-color;
                        color: $red-color;
                        font-weight: 700;
                    }
                } 
            }
        }

        .tab-content {

            p {
                margin-bottom: 10px;
            }
        }
    
        .theme-btn {
            margin-top:30px;

            .default-btn {
                border: 1px solid $red-color;
                margin: 0;
            }
        }
    }
}
/* About CSS End */

/* Transport CSS Start */
.transport-section {
    .section-title {
        margin:0 auto 50px;

        h2 {
            max-width: 600px;
            margin: auto;
        }
    }

    .transport-card {
        box-shadow:3px 5px 25px 0 rgba(0,0,0,.1);
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        z-index: 1;

        .transport-img {
            overflow: hidden;

            img {
                border-radius: 10px 10px 0 0;
                transition: .5s;
                width: 100%;
            } 
        }

        .transport-text {
            position: relative;
            padding: 70px 30px 30px;
            transition: .5s;

            i {
                top: -40px;
                width: 80px;
                height: 80px;
                font-size: 40px;
                line-height: 80px;
                text-align: center;
                position: absolute;
                color: $red-color;
                border-radius: 50px;
                background: $white-color;
                box-shadow: 3px 5px 25px 0 rgba(0,0,0,.1);
                transition: .5s;
            }

            h3 {
                font-weight: 700;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 15px;
            }

            .theme-btn {
                transition: .5s;

                .default-btn {
                    border: 1px solid $red-color;
                    margin: 0;
                }
            }
        }

        &:hover .transport-text i {
            background: $red-color;
            color: $white-color;
            animation: rotate360 3s 1 linear;
        }

        &:hover .transport-img img {
            transform: skewX(10deg) scale(1.2);
        }
    }
}
/* Transport CSS End */

/* Why Choose CSS Start */
.why-choose-section {
    position: relative;

    .why-choose-img {
        position: relative;
        background-image: url(../img/why-choose/1.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        &::before {
            position: absolute;
            content: '';
            background: rgba(0,0,0,.6);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .shipping-text {
            max-width: 400px;
            border-radius: 10px;
            background: $red-color;
            padding: 65px 30px;
            position: absolute;
            top: 25%;
            right: 60px;
    
            h3 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 10px;
                text-align: center;
                color: $white-color;
            }
    
            p {
                font-size: 15px;
                color: $white-color;
            }
    
            form {
                .form-group {
                    .form-control {
                        border: 0;
                        height: 50px;
                        padding: 10px 20px;
                        margin-bottom: 20px;
                        border-radius: 10px;
                    }
                }

                .shipping-btn {
                    background: $heading-color;
                    color: $white-color;
                    display: block;
                    height: 50px;
                    padding: 10px;
                    border-radius: 10px;
                    text-align: center;
                    font-size: 18px;
                    position: relative;
                    z-index: 0;
                    width: 100%;
                    overflow: hidden;
    
                    &::before {
                        position: absolute;
                        content:'';
                        width:20px;
                        height: 100%;
                        left:-14px;
                        top: 0;
                        background: $white-color;
                        z-index: -1;
                        transform: skewX(10deg);
                        transition: .5s;
                    }
                    &:hover::before {
                        width: 100%;
                        transform: skewX(0);
                        left: 0;
                    }

                    &:hover {
                        color: $heading-color;
                    }
                }
            }
        }
    }

    .why-choose-text {
        padding: 60px;
        background: #ece7f2;

        .accordions {
            max-width: 500px;

            .accordion-item {
                background-color: #f9f9f9;
                margin-bottom: 20px;
                box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);

                .accordion-title {
                    cursor: pointer;
                    padding: 15px 20px;
                    transition: all 0.4s;
                    background: $white-color;
                    padding-left: 60px;
                    position: relative;

                    i {
                        position: absolute;
                        left: 20px;
                        top: 15px;
                        color: $heading-color;
                        transition: .5s;
                        font-size: 25px;
                    }

                    &.active-title {
                        background-color:$heading-color;
                    }

                    &.active-title h2, &.active-title i  {
                        color:$white-color;
                    }

                    &.active-title h2 i  {
                        transform: rotate(90deg);
                    }


                    h2 {
                        margin: 0;
                        font-size:20px;
                        display: flex;
                        justify-content: space-between;
                        color: $heading-color;
                        line-height: 20px;

                        i {
                            font-size: 25px;
                            position: inherit;
                        }
                    }

                }

                .accordion-content {
                    display: none;
                    line-height: 1.7;
                    padding: 20px;
                    background-color: $white-color;
                    border-radius: 0 0 5px 5px;

                    &.active {
                        display: block;
                    }

                    p {
                        margin: 0;
                    }   
                }
            }
        }
    }
}
/* Why Choose CSS End */

/* Get Qoute CSS End */
.get-quote-section {
    position: relative;

    .quote-text {
        padding-right: 80px;

        .offer-text {
            position: relative;
            display: inline-block;
            margin-bottom: 20px;

            span {
                color: $white-color;
                background:$heading-color;
                display: inline-block;
                width: 100px;
                height: 100px;
                line-height: 90px;
                text-align: center;
                border-radius: 100px;
                border: 5px solid $red-color;
                font-weight: 700;
                font-size: 20px;
            }

            p {
                position: absolute;
                top: 25px;
                right: -110px;
                background: $red-color;
                color: $white-color;
                font-weight: 700;
                width: 120px;
                height: 50px;
                line-height: 50px;
                padding-left: 10px;
                z-index: -1;
                font-size: 20px;
                border-radius: 0 30px 30px 0;
            }
        }

        h2 {
            font-size: 35px;
            color: #fff;
            font-weight: 700;
            margin-bottom: 15px;
        }

        p {
            color: $white-color;
            font-size: 16px;
            margin-bottom:30px;
        }

        .theme-btn {
            .default-btn {
                border: 1px solid $red-color;
                margin: 0;
            }
        }
    }

    .quote-form {
        h2 {
            font-size: 35px;
            color: $white-color;
            font-weight:700;
            margin-bottom: 25px;
        }

        form {
            .form-check-inline {
                margin-bottom: 15px;
    
                .form-check-label {
                    color: $white-color;
                    font-size: 16px;
                }
            }

            .select-item {
                position: relative;
    
                i {
                    color: #707070;
                    position: absolute;
                    right: 17px;
                    top: 16px;
                    font-size: 20px;
                }
            }

            .form-control {
                height: 50px;
                padding: 10px 20px;
                cursor: pointer;
                margin-bottom: 20px;
            }
    
            select.form-control {
                appearance: none;
            }
    
            ::placeholder {
                color: #707070;
            }

            button {
                font-size:18px;
                background: $red-color;
                color: $white-color;
                padding: 10px 25px;
                border-radius: 5px;
                margin:10px 0 0 0;
                display: inline-block;
                position: relative;
                z-index: 0;
                overflow: hidden;
        
                &::before {
                    position: absolute;
                    content:'';
                    width:20px;
                    height: 100%;
                    left:-14px;
                    top: 0;
                    background: $white-color;
                    z-index: -1;
                    transform: skewX(10deg);
                    transition: .5s;
                }
        
                &:hover {
                    color: $red-color;
                }
        
                &:hover::before {
                   width: 100%;
                   transform: skewX(0);
                   left: 0;
                }
            }
        }
    }

    .lines {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        z-index: -1;

        .line {
            position: absolute;
            width: 2px;
            height: 100%;
            background: rgba(255,255,255,.1);
            left: 50%;
            top: 0;

            &::after {
                position: absolute;
                content: '';
                width:100%;
                height:10px;
                background: $white-color;
                left: 0;
                top:0%;
                right: 0;
                margin: auto;
                animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
            }
        }
        
        :nth-child(1) {
            margin-left: 25%;
        }

        :nth-child(2) {

            &::after {
                animation-delay:1s;
            }
        }

        :nth-child(3) {
            margin-left:-25%;

            &::after {
                animation-delay:2s;
            }
        }
    }
}
.quote-bg {
    background-image: url(../img/quote-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        content: '';
        background: $heading-color;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        opacity:.85;
    }
}
/* Get Qouote CSS End */

/* Worker CSS Start */
.worker-section {
    .section-title {
        p {
            margin: auto;
        }
    }

    .worker-card {
        border-radius: 10px;
        position: relative;
        margin-bottom: 30px;
        box-shadow:3px 5px 25px 0 rgba(0,0,0,.1);

        .worker-img {
            overflow: hidden;

            img {
                border-radius: 10px 10px 0 0;
                transition: .5s;
            }
        }
        .worker-text {
            text-align: center;
            padding: 20px;

            h3 {
                font-weight: 700;
                margin-bottom:10px;
            }

            p {
                margin-bottom: 0;  
            }
        }

        &:hover .worker-img img {
            filter: grayscale(1);
            transform: translateY(5px);
        }
    }
}
/* Worker CSS CSS End */

/* Feedback CSS Start */
.feedback-section {
    padding-bottom: 200px;

    .section-title {

        span, h2, p {
            color:$white-color;
        }

        p {
            margin: auto;
        }
    }

    .feedback-slider {
        position: relative;

        .feedback-items {
            text-align: center;
            max-width: 450px;
            margin: auto;

            i {
                font-size: 50px;
                color: $white-color;
                margin-bottom: 35px;
                display: inline-block;
            }

            p {
                margin-bottom: 40px;
                color: $white-color;
            }

            img {
                max-width: 100%;
                margin:45px auto 10px;
                width: unset;
            }

            h3 {
                color: $white-color;
                margin-bottom: 5px;
            }

            span {
                color: $white-color;
                margin-bottom: 0;
                font-size: 16px;
                display: inline-block;
            }   
        }

        .owl-prev, .owl-next {
            position: absolute;
            left: -65px;
            top: 35%;
            background: #ff440a !important;
            color: $white-color !important;
            width: 45px;
            height: 45px;
            border-radius: 5px;
            font-size: 25px !important;
            line-height: 45px !important;
            opacity: 0;
            transition: .5s;

            &:hover {
                background: $white-color !important;
                color: $red-color !important;
            }
        }

        .owl-next {
            left: inherit;
            right:-65px;
        }

        &:hover .owl-prev {
            left: -50px;
            opacity: 1;
        }

        &:hover .owl-next {
            right: -50px;
            opacity: 1;
        }

        .owl-nav {
            margin-top: 0;
        }
    }
}

.feedback-bg {
    background-image: url(../img/feedback/feedback-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        content: '';
        background: $heading-color;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .85;
        z-index: -1;
    }
}
/* Feedback CSS End */

/* Company CSS Start */
.company-section {
    margin-top: -100px;

    .company-slider {
        padding: 60px 25px 50px;
        background: $white-color;
        border-radius: 10px;
        box-shadow: 3px 5px 25px 0 rgba(0,0,0,.1);

        .company-logo {
            img {
                max-width: 100%;
                width: unset;
                margin: auto;
                transition: .5s;

                &:hover {
                    filter:brightness(0.5);
                    transform: scale(.8);
                }
            }
        }
    }
}
/* Company CSS End */

/* Blog CSS Start */
.blog-section {

    .section-title {
        p {
            margin: auto;
        }
    }

    .blog-card {
        box-shadow: 3px 5px 25px 0 rgba(0,0,0,.1);
        border-radius: 10px;
        margin-bottom: 30px;

        .blog-img {
            overflow: hidden;
            border-radius: 10px 10px 0 0;

            a {
                img {
                    border-radius: 10px 10px 0 0;
                    transition: all .5s;
                }
            }
        }

        .blog-text {
            padding: 30px;

            h3 {
                line-height: 1.4;
                margin-bottom: 15px;

                a {
                    color: $heading-color;

                    &:hover {
                        color: $red-color;
                    }
                }
            }

            ul {
                padding-left: 0;
                margin-bottom: 8px;

                li {
                    font-size: 16px;
                    list-style: none;

                    i {
                        color: $red-color;
                        margin-right: 5px;
                    }
                }
            }

            p {
                margin-bottom:18px;
            }

            .blog-btn {
                display: inherit;

                i {
                    color: $red-color;
                    font-size:25px;
                    width: 50px;
                    width: 50px;
                    text-align: center;
                    line-height: 50px;
                    border-radius: 5px;
                    background: #ffcdbd;
                    display: inline-block;
                    transition: all .5s;

                    &:hover {
                        background: $red-color;
                        color: $white-color;
                    }
                }
            }
        }

        &:hover .blog-img img {
            transform: scale(1.3);
        }
    }
}
/* Blog CSS End */

/* Newsletter CSS Start */
.newsletter-section {
    margin-bottom: -100px;

    .newsletter-area {
        background: #190231;
        padding: 65px;
        position: relative;
        border-radius: 10px;
        z-index: 1;

        h2 {
            color: $white-color;
            font-size: 33px;
            font-weight: 700;
            margin-bottom: 25px;
            line-height: 1;
        }

        .newsletter-form {
            position: relative;

            .form-control {
                height: 60px;
                padding: 20px;
                border-radius: 5px;
            }

            ::placeholder {
                color: #707070;
                font-size: 18px;
                text-transform: capitalize;
            }

            .default-btn {
                font-size: 17px;
                background: $red-color;
                color: $white-color;
                padding: 10px 25px;
                border-radius: 5px;
                margin: 0;
                display: inline-block;
                position: absolute;
                z-index: 0;
                overflow: hidden;
                right: 4px;
                top: 4px;
                border: 1px solid $red-color;

                &::before {
                    position: absolute;
                    content:'';
                    width:20px;
                    height: 100%;
                    left:-14px;
                    top: 0;
                    background: $white-color;
                    z-index: -1;
                    transform: skewX(10deg);
                    transition: .5s;
                }

                &:hover {
                    color: $red-color;
                }
        
                &:hover::before {
                   width: 100%;
                   transform: skewX(0);
                   left: 0;
                }
            }

            .validation-danger {
                color: $white-color;
            }
        }
    }

    img {
        position: absolute;
        right: 65px;
        top: -35px;
        max-width: 400px;
        animation: img-scale 5s infinite linear;
    }
}
/* Newsletter CSS End */

/* Footer CSS Start */
.footer-area {
    background:$heading-color;
    padding-top: 200px;
    position: relative;
    z-index: 0;

    .footer-widget {
        margin-bottom: 30px;

        img {
            margin-bottom: 30px;
        }

        .footer-social {
            margin-top: 35px;
            a {
                i {
                    color: $white-color;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    line-height: 35px;
                    background: #461877;
                    border-radius: 5px;
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    z-index: 0;

                    &::after {
                        position: absolute;
                        content: '';
                        background: $red-color;
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        top: 0;
                        left: 0;
                        transform: scale(0);
                        transition: .5s;
                        z-index: -1;
                    }

                    &:hover::after {
                        transform: scale(1);
                    }
                }
            }
        }

        h3 {
            color: $white-color;
            margin-bottom: 40px;
            position: relative;
            padding-left: 10px;

            &::before {
                position: absolute;
                content: '';
                background: $red-color;
                width: 3px;
                height: 100%;
                left: 0px;
                top: 2px;
            }

            &::after {
                position: absolute;
                content: '';
                background: $heading-color;
                width:3px;
                height:3px;
                left: 0;
                top: 0;
                right: 0;
                animation: translate-one 10s infinite cubic-bezier(0, 0, 0.46, 0.26);
            }
        }

        ul {
            padding-left: 0;
            list-style-type: none;

            li {
                color: $white-color;
                margin-bottom: 10px;
                position: relative;
                transition: .5s;

                &::before {
                    position: absolute;
                    content: '';
                    width:0;
                    height: 2px;
                    top: 15px;
                    left:0;
                    background: $red-color;
                    transition:.5s;
                }

                &:hover::before {
                    width: 10px;
                }

                &:hover  {
                    padding-left: 15px;
                }

                i {
                    font-size: 16px;
                    top:0px;
                    margin-right: 10px;
                    position: relative;
                }

                a {
                    color: $white-color;

                    &:hover {
                        color: $red-color;
                    }
                }
            }

            :last-child {
                margin-bottom: 0;
            }
        }
    }

    .copyright-area {
        text-align: center;
        background: #190231;
        margin-top: 60px;

        p {
            color: $white-color;
            margin-bottom: 0;
            padding: 20px;

            a {
                color: $white-color;

                &:hover {
                    color: $red-color;
                }
            }
        }
    }

    .lines {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        z-index: -1;

        .line {
            position: absolute;
            width: 2px;
            height: 100%;
            background: rgba(255,255,255,.1);
            left: 46%;
            top: 0;

            &::after {
                position: absolute;
                content: '';
                width:100%;
                height:10px;
                background: $white-color;
                left: 0;
                top:0%;
                right: 0;
                margin: auto;
                animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
            }
        }
        
        :nth-child(1) {
            margin-left: 22%;
        }

        :nth-child(2) {

            &::after {
                animation-delay:1s;
            }
        }

        :nth-child(3) {
            margin-left:-20%;

            &::after {
                animation-delay:2s;
            }
        }
    }
}
/* Footer CSS End */

/*---------- Home Page One CSS End ----------*/

/*---------- Home Page Two CSS Strat ----------*/

/* Navbar CSS Start */
.nav-style-two {
    border-bottom: 2px solid rgba(255,255,255,.1);

    .main-nav {
        background: transparent;

        .navbar {
            .navbar-nav {
                .nav-item {
                    a {
                        color: $white-color;

                        &:hover {
                            color: $red-color;
                        }
                    }
                }
            }
        }
    }

    &.is-sticky {
        background:$heading-color;
        border-bottom: 0;
    }
}
/* Navbar CSS End */

/* Banner CSS Start */
.banner-style-two {

    &.banner-bg {
        background-image: url(../img/banner/2.jpg);
        background-position: center center;
        background-size: cover;
        height: 1000px;
        position: relative;
        z-index: 0;

        &::before {
            position: absolute;
            content: '';
            background: rgba(0,0,0,.5);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .banner-text {
        h1 {
            font-size: 60px;
            color: $white-color;
            font-family: $banner-font;
            margin-bottom: 30px;
            font-weight: 700;
        }

        p {
            color: $white-color;
            font-size: 18px;
            margin-bottom: 35px;
        }

        .theme-btn {
            .default-btn {
                padding: 18px 30px;
            }
        }

    }

    .get-quote-section {
        .quote-form {
            background:rgba(60,12,112,0.50);
            padding: 45px 30px;
        }
    }
}
/* Banner CSS End */

/* Transport System CSS Start */
.transport-style-two {
    margin-top: -130px;

    .transport-card {
        .transport-text {
            p {
                margin-bottom: 0;
            }
        }
    }
}
/* Transport System CSS End */

/* Why Choose CSS Start */
.choose-style-two {
    .section-title {
        p {
            margin: auto;
        }
    }

    .choose-card {
        text-align: center;
        padding:25px;
        border-radius: 5px;
        position: relative;
        z-index: 0;
        margin-bottom: 30px;
        border: 1px solid #eee0fe;
        box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
        
        &::before {
            content: '';
            width: 0;
            height: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: .5s;
            border-radius: 5px;
            position: absolute;
            background: $heading-color;
        }

        &::after {
            content: '';
            width: 0;
            height: 0;
            right: 0;
            top: 0;
            z-index: -1;
            transition: .5s;
            border-radius: 5px;
            position: absolute;
            background: $heading-color;
        }

        i {
            color: $red-color;
            background: #fff0ec;
            margin-bottom: 20px;
            display: inline-block;
            width: 70px;
            height: 70px;
            border-radius: 5px;
            line-height: 70px;
            font-size: 40px;
            transition: .5s;
        }

        h3 {
            font-size: 18px;
            margin-bottom: 0;
            transition: .5s;
        }

        &:hover::before, &:hover::after {
            width: 100%;
            height: 100%;
        }

        &:hover h3 {
            color: $white-color;
        }

        &:hover i {
            color: $heading-color;
        }
    }

    .why-choose-image {
        animation: img-scale 5s infinite linear;
    }
}
/* Why Choose CSS End */

/* Track Product CSS Start */
.track-product {
    padding-bottom: 200px;

    .track-text {
        h2 {
            font-size: 35px;
            font-weight:700;
            color: $white-color;
            margin-bottom: 30px;
        }

        .newsletter-form {
            position: relative;
            max-width: 500px;
            margin: auto;

            .form-control {
                height: 60px;
                padding: 20px;
                border-radius: 5px;
            }

            ::placeholder {
                color: #707070;
                font-size: 18px;
                text-transform: capitalize;
            }

            .default-btn {
                font-size: 17px;
                background: $red-color;
                color: $white-color;
                padding: 10px 40px;
                border-radius: 5px;
                margin: 0;
                display: inline-block;
                position: absolute;
                z-index: 0;
                overflow: hidden;
                right: 5px;
                top: 4px;
                border: 1px solid $red-color;

                &::before {
                    position: absolute;
                    content:'';
                    width:20px;
                    height: 100%;
                    left:-14px;
                    top: 0;
                    background: $white-color;
                    z-index: -1;
                    transform: skewX(10deg);
                    transition: .5s;
                }

                &:hover {
                    color: $red-color;
                }
        
                &:hover::before {
                   width: 100%;
                   transform: skewX(0);
                   left: 0;
                }
            }
        }
    }

    &.track-product-bg {
        background-image: url(../img/track-bg.jpg);
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 0;

        &::before {
            position: absolute;
            content: '';
            background: rgba(60,12,112,.6);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
        }
    }

    .lines {
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        z-index: -1;

        .line {
            position: absolute;
            width: 2px;
            height: 100%;
            background: rgba(255,255,255,.1);
            left: 50%;
            top: 0;

            &::after {
                position: absolute;
                content: '';
                width:100%;
                height:10px;
                background: $white-color;
                left: 0;
                top:0%;
                right: 0;
                margin: auto;
                animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
            }
        }
        
        :nth-child(1) {
            margin-left: 25%;
        }

        :nth-child(2) {

            &::after {
                animation-delay:1s;
            }
        }

        :nth-child(3) {
            margin-left:-25%;

            &::after {
                animation-delay:2s;
            }
        }
    }
}
/* Track Product CSS End */

/* Facilities CSS Start */
.facilities-section {
    .facilities-text {
        h2 {
            font-size: 35px;
            font-weight: 700;
            color: $heading-color;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 30px;
        }

        ul {
            padding-left: 0;
            margin-bottom: 45px;

            li {
                list-style: none;
                font-size: 20px;
                color: $heading-color;
                margin-bottom: 5px;

                i {
                    color: $white-color;
                    background: #ff9979;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border-radius: 30px;
                    text-align: center;
                    line-height: 25px;
                    font-size: 15px;
                    margin-right: 5px;
                    top: -3px;
                    position: relative;                  
                }
            }
        }

        .theme-btn {
            .default-btn {
                border: 1px solid $red-color;
            }
        }
    }

    .facilities-img {
        background-image: url(../img/facilities-img.jpg);
        background-position: center center;
        background-size: cover;
        height: 100%;
    }
}
/* Facilities CSS End */

/* Company CSS Start */
.company-style-two {
    padding-top: 100px;
    padding-bottom: 100px;

    .section-title {
        p {
            margin: auto;
        }
    }

    .company-slider {
        box-shadow: 0 0 0 0;
        padding: 0;
    }
}
/* Compnay CSS End */

/* Feedback CSS Start */
.feedback-style-two {
    padding-bottom: 100px;
}
/* Feedback CSS End */

/* Contact CSS Start */
.contact-section {
    background: #f7efff;

    .section-title {
        p {
            margin: auto;
        }
    }

    .contact-img {
        background-image: url(../img/contact.jpg);
        background-position: center center;
        background-size: cover;
        height: 100%;
    }

    .contact-area {

        h2 {
            font-size: 35px;
            font-weight: 600;
            color: $heading-color;
            margin-bottom: 30px;
        }

        .form-group {
            margin-bottom: 20px;

            .form-control {
                height: 60px;
                padding: 20px;
                border: 1px solid #d8b5ff;
            }

            .message-field {
                width: 100%;
                padding:15px 20px;
                border: 1px solid #d8b5ff;
                outline:0;
            }

            ::placeholder {
                color: #a1a1a1;
                font-size: 16px;
            }

            .list-unstyled {
                color: $red-color;
                font-size: 15px;
            }
            
        }

        .default-btn {
            font-size:18px;
            background: $red-color;
            color: $white-color;
            padding: 10px 30px;
            border-radius: 5px;
            margin: 0;
            display: inline-block;
            position: relative;
            z-index: 0;
            overflow: hidden;
            border: 1px solid $red-color;
    
            &::before {
                position: absolute;
                content:'';
                width:20px;
                height: 100%;
                left:-14px;
                top: 0;
                background: $white-color;
                z-index: -1;
                transform: skewX(10deg);
                transition: .5s;
            }
    
            &:hover {
                color: $red-color;
            }
    
            &:hover::before {
               width: 100%;
               transform: skewX(0);
               left: 0;
            }
        }

        .text-danger {
            font-size: 20px;
            margin-top: 10px;
        }
    }
}
/* Contact CSS End */

/* Newsletter CSS Start */
.newsletter-style-two {
    background: #f7efff;
}
/* Newsletter CSS End */
/*---------- Home Page Two CSS End ----------*/

/*---------- Home Page Three CSS Start ----------*/
/* Banner CSS start */
.banner-style-three {
    height: 100vh;
    position: relative;
    background: $heading-color;
    padding-top: 60px;

    .banner-text {
        max-width: 650px;

        h1 {
            font-size: 70px;
            font-weight: 700;
            font-family: $banner-font;
            color: $white-color;
            margin-bottom: 40px;
        }

        .theme-btn {
            .default-btn {
                padding: 15px 25px;
            }
        }
    }

    .banner-image {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 570px;
        border-radius: 10px;

        img {
            border-radius: 10px;
        }
    }

    .banner-shape {
        img {
            position: absolute;
            animation: img-scale 5s infinite linear;
        }

        :nth-child(1) {
            top: 20%;
            left: 10%;
        }

        :nth-child(2) {
            top: 20%;
            left: 30%;
        }

        :nth-child(3) {
            top: 20%;
            right: 10%;
        }

        :nth-child(4) {
            bottom: 10%;
            left: 50%;
        }

        :nth-child(5) {
            top: 30%;
            left: 50%;
        }

        :nth-child(6) {
            bottom: 5%;
            left: 15%;
        }
    }
}
/* Banner CSS End */

/* About CSS Start */
.about-style-three {
    padding-bottom: 100px;

    .about-img {
        &::before  {
            background: $heading-color;
            width: 90px;
            height: 150px;
            top: -65px;
            left: 0;
            animation: none;
            border-radius: 10px;
            transform: rotate(-45deg);
        }

        &::after  {
            background: $heading-color;
            width: 90px;
            height: 150px;
            bottom: -60px;
            right: 15px;
            animation: none;
            border-radius: 10px;
            transform: rotate(-45deg);
            top: inherit;
        }

        img {
            border-radius: 10px;
        }
    }
}
/* About CSS End */

/* Trasnport CSS Start */
.transport-style-five {
    .section-title {
        p {
            margin: auto;
        }
    }

    .transport-card {
        text-align: center;
        margin-bottom: 30px;
        padding: 25px;
        box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);

        img {
            margin-bottom: 30px;
        }

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
        }
    }
}
/* Transport CSS End */

/* Achivement CSS Start */
.achivement-section {
    .section-title {
       h2 {
        color: $white-color;
       }

       p {
           color: $white-color;
           margin: auto;
       }
    }

    .company-section{
        margin-top: 0;
        margin-bottom: 60px;
    }

    .features-section {
        margin-top: 0;

        .feature-card {
            border: 0;

            &:hover {
                background: $red-color;
            }

            &:hover span, &:hover h3, &:hover p {
                color: $white-color;
            }
        }
    }
}
.achivement-bg {
    background-image: url(../img/achivement-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::before {
        position: absolute;
        content: '';
        background: rgba(60,12,112,0.80);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
/* Achivement CSS End */

/* Feedback CSS Start */
.feedback-style-three {
    .section-title {
        p {
            margin: auto;
        }
    }

    .feedback-slider-area {
        position: relative;

        .slider-items {
            max-width: 500px;
            margin: auto;

            img {
                width: unset;
                margin:0 auto  30px;
            }

            .client-info {
                margin-bottom: 15px;
                
                h3 {
                    margin-bottom: 0px;
                }
    
                span {
                    color: $red-color;
                    font-size: 15px;
                }
            } 
        }

        .owl-prev, .owl-next {
            position: absolute;
            left: 20px;
            top: 45%;
            background: #ff440a !important;
            color: $white-color !important;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            font-size: 25px !important;
            line-height: 50px !important;
            opacity: 0;
            transition: .5s;
            border: 1px solid $red-color;
    
            &:hover {
                background: $white-color  !important;
                color: $red-color !important;
            }
        }
    
        .owl-next {
            left: inherit;
            right:20px;
        }
    
        &:hover .owl-prev {
            left: 40px;
            opacity: 1;
            border: 1px solid $red-color;
        }
    
        &:hover .owl-next {
            right: 40px;
            opacity: 1;
            border: 1px solid $red-color;
        }
    
        .owl-nav {
            margin-top: 0;
        }
    }
}
/* Feedback CSS End */

/*---------- Home Page Three CSS End ----------*/

/*---------- About Page CSS Start ----------*/
/* Page Title CSS Start */
.page-title {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,.8) 0%, rgba(12,21,96,.9) 100%);
        top: 0;
        left: 0;
        z-index: 0;
    }

    .title-text {
        z-index: 1;
        position: relative;

        h2 {
            font-size: 50px;
            color: $white-color;
            font-weight: 700;
            font-family: $banner-font;
            margin-bottom: 10px;
        }

        ul {
            margin-bottom: 0;
            padding-left: 0;

            li {
                display: inline-block;
                color: $white-color;
                font-size: 18px;
                line-height: 1;
                margin: 0 15px;
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    background: $white-color;
                    width: 5px;
                    height: 6px;
                    top: 8px;
                    right: -20px;
                }

                &:last-child {
                    &::before {
                        display: none;
                    }                    
                }

                a {
                    color: $white-color;

                    &:hover {
                        color: $red-color;
                    }
                }
            }
        }
    }

    &.title-bg-1 {
        background-image: url(../img/page-bg/1.jpg);
    }
}
/* Page Title CSS End*/

/* About Scetion CSS Start*/
.about-style-two {
    padding-top: 100px;

    .about-img {
        &::before {
            background: none;
            border: 2px solid $red-color;
        }

        &::after {
            display: none;
        }
    }

}
/* About Section CSS End*/

/* Choose Section CSS Start*/
.choose-style-three {
    .why-choose-img {
        &::before {
            top: 0;
            left: -75%;
            z-index: 2;
            display: block;
            width: 50%;
            height: 100%;
            background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
            transform: skewX(-25deg);
        }

        &:hover::before {
            animation: shine 1s;
        }
    }
}
/* Choose Section CSS End*/

/* Worker Section CSS Start */
.worker-style-two {
    .worker-card {
        box-shadow: 0 0 0 0;

        .worker-img {
            img {
                transform: scale(1.3);
                border-radius: 200px;
            }
        }

        .worker-text {
            padding-bottom: 0;
        }

        .worker-social {
            display: none;
        }

        &:hover .worker-img img {
            transform: scale(1);
        }
    }
}
/* Worker Section CSS End */

/* Blog Section CSS Start */
.blog-style-two {
    .blog-card {
        .blog-img {
            position: relative;

            img {
                transform: scale(1.2);
            }
            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                display: block;
                content: '';
                width: 0;
                height: 0;
                background: rgba(255,255,255,.2);
                border-radius: 100%;
                transform: translate(-50%, -50%);
                opacity: 0;
            }
        }

        &:hover .blog-img img {
            transform: scale(1);
        }

        &:hover .blog-img::before {
            animation: circle .75s;
        }
    }
}
/* Blog Section CSS End */
/*---------- About Page CSS End ----------*/

/*---------- Service Page Two CSS Start ----------*/
/* Page Title Start */
.page-title {
    &.title-bg-2 {
        background-image: url(../img/page-bg/2.jpg);
    }
}
/* Page Title End */

/* Transport Section Start */
.transport-style-three {
    .transport-card {
        .transport-img {
            position: relative;

            &::before {
                position: absolute;
                content: '';
                background: $heading-color;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                transform: translate(-100%, -100%) skewX(10deg);
                opacity: .5;
                transition: .5s;
            }

            &::after {
                position: absolute;
                content: '';
                background: $heading-color;
                width: 100%;
                height: 100%;
                right: 0;
                bottom: 0;
                transform: translate(100%, 100%) skewX(10deg);
                opacity: .5;
                transition: .5s;
            }
        }

        .transport-text {
            padding: 30px;
        }

        &:hover .transport-img img {
            transform: none;
        }

        &:hover .transport-img::before {
            transform: translate(-60%, -60%) skewX(10deg);
        }

        &:hover .transport-img::after {
            transform: translate(60%, 60%) skewX(10deg);
        } 
    }
}
/* Transport Sectio End */
/*---------- Service Page One CSS End ----------*/

/*---------- Service Page Two CSS Start ----------*/
.page-title {

    &.title-bg-3 {
        background-image: url(../img/page-bg/3.jpg);
    }
}

.transport-style-four {
    .transport-card {
        padding: 25px;

        .transport-text {
            padding: 0;

            i {
                position: unset;
                display: inline-block;
                margin-bottom: 35px;
            }

            a {
                i {
                    background: transparent;
                    color :$red-color;
                    width: 55px;
                    height: 55px;
                    font-size: 30px;
                    line-height: 55px;
                    margin-bottom: 0;
                    box-shadow: 0 0 0 0;
                    position: unset;
                    border: 1px dashed $red-color;
                }
            }
        }

        &:hover a i {
            animation: none !important;
            
        }
    }
}

.footer-style-two {
    padding-top: 100px;
}
/*---------- Service Page Two CSS End ----------*/

/*---------- Service Details CSS Start ----------*/
/* Blog Details CSS Start */
.service-details-area {
    .service-post-area {
        .service-details-img {
            margin-bottom: 30px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 15px;
            color: $heading-color;
        }

        p {
            margin-bottom: 15px;
        }

        ul {
            margin-bottom: 15px;
            padding-left: 0;

            li {
                list-style: none;
                color: $heading-color;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
            }
        }

        .post-img {
            margin-top: 15px;
            box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }
    }


    .service-sidebar {
        .sidebar-widget {
            box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 30px;

            h3 {
                font-size: 20px;
                padding: 20px;
                color: $white-color;
                background: $heading-color;
                margin-bottom: 0;
                font-weight:700;
                border-radius: 10px 10px 0 0;
            }

            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    font-size: 17px;
                    padding: 10px 20px;
                    border-bottom: 1px inset;
                    font-weight: 600;
                    transition: .5s;

                    i {
                        font-weight: 600;
                        margin-right: 5px;
                    }

                    &:last-child {
                        border-bottom: 0px solid $heading-color;
                    }

                    &:hover {
                        background: $red-color;
                        color: $white-color;
                    }

                    &:hover a {
                        color: $white-color;
                    }

                    a {
                        color: $body-color;
                        i {
                            font-weight: 600;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}
/* Blog Details CSS End */

/* Company CSS Start */
.company-style-three {
    margin-top: 0;
}
/* Company CSS End */
/*---------- Service Details CSS End ----------*/

/*---------- Why Choose Page CSS Start ----------*/
.page-title {
    &.title-bg-10 {
        background-image: url(../img/page-bg/10.jpg);
    }
}

.choose-style-three {
    .choose-card {
        &::before {
            height: 100%;
        }

        &::after {
            height: 100%;
        }
    }
}
/*---------- Why Choose Page CSS End ----------*/

/*---------- Faq Page CSS Start ----------*/
.page-title {
    &.title-bg-4 {
        background-image: url(../img/page-bg/4.jpg);
    }
}

.faq-section {
    .accordions {

        .accordion-item {
            background-color: #f9f9f9;
            margin-bottom: 30px;
            border: 1px solid $heading-color;

            .accordion-title {
                cursor: pointer;
                padding: 15px 20px;
                transition: all 0.4s;
                background: $white-color;
                position: relative;

                &.active-title {
                    background-color:$heading-color;
                }

                &.active-title h2  {
                    color:$white-color;
                }

                &.active-title h2 i  {
                    transform: rotate(90deg);
                }


                h2 {
                    margin: 0;
                    font-size:20px;
                    display: flex;
                    justify-content: space-between;
                    color: $heading-color;
                    line-height: 20px;

                    i {
                        font-size: 25px;
                        position: inherit;
                    }
                }

            }

            .accordion-content {
                display: none;
                line-height: 1.7;
                padding: 20px;
                background-color: $white-color;
                border-radius: 0 0 5px 5px;

                &.active {
                    display: block;
                }

                p {
                    margin: 0;
                }   
            }
        }
    }
}
/*---------- Faq Page CSS End ----------*/

/*---------- Error Page CSS Start ----------*/
.page-title {
    &.title-bg-4 {
        background-image: url(../img/page-bg/4.jpg);
    }
}
.error-section {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 200px;
        height: 200px;
        top: 100px;
        left: 100px;
        background:linear-gradient(45deg, #0c1560 0%, #f09 100%);
        border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
        opacity: .15;
        animation: fluid 5s infinite linear;
    }

    h2 {
        font-size: 50px;
        color:$heading-color;
        font-family: $banner-font;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .theme-btn {
        .default-btn {
            box-shadow: 0 0 30px rgba(0,0,0,.15);
            border: 1px solid $red-color;
            padding: 15px 40px;
        }
    }
}
/*---------- Error Page CSS End ----------*/

/*---------- Why Choose Page CSS Start ----------*/
.page-title {
    &.title-bg-5 {
        background-image: url(../img/page-bg/5.jpg);
    }
}
/*---------- Why Choose Page CSS End ----------*/

/*----------  Privacy Page CSS Start ----------*/
.privacy-section {
    .privacy-text {

        h2 {
            font-size: 25px;
            margin-bottom: 15px;
            font-weight: 700;
        }

        p {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}
/*----------  Privacy Page CSS End ----------*/

/*----------  Terms Page CSS Start ----------*/
.page-title {
    &.title-bg-9 {
        background-image: url(../img/page-bg/9.jpg);
    }
}

.terms-section {
    .terms-text {
        h2 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 30px;
            color: $heading-color;
        }

        h3 {
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
/*----------  Terms Page CSS End ----------*/

/*----------  Coming Page CSS Start ----------*/
.coming-soon {
    height: 100vh;

    h2 {
        margin-bottom: 20px;
    }

    a {
        color: $red-color;

        &:hover {
            color: $white-color;
        }
    }
}
/*----------  Coming Page CSS End ----------*/

/*----------  Blog Page One CSS Start ----------*/
.page-title {
    &.title-bg-6 {
        background-image: url(../img/page-bg/6.jpg);
    }
}
/*----------  Blog Page One CSS End ----------*/

/*----------  Blog Page Two CSS Start ----------*/
.page-title {
    &.title-bg-7 {
        background-image: url(../img/page-bg/7.jpg);
    }
}

.blog-style-three {
    .blog-card {
        .blog-img {
            position: relative;

            .blog-btn {
                top: 0;
                left: 0;
                right: 0;
                right: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                transition: .5s;
                position: absolute;
                background: rgba(0,0,0,.65);
                transform: scale(0);

                a {
                    left: 0;
                    top: 40%;
                    right: 0;
                    width: 40px;
                    margin: auto;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid;
                    text-align: center;
                    position: absolute;
                    color:$white-color;
                    border-radius: 45px;
                    display: inline-block;
                    background: transparent;

                    &:hover {
                        background: $heading-color;
                    }
                }
            }
        }

        .blog-text {
            p {
                margin-bottom: 0;
            }
        }

        &:hover .blog-img img {
            transform: none;
        }

        &:hover .blog-img .blog-btn {
            transform: scale(1);
        }
    }

    nav {
        .pagination {
            margin: 30px 0;

            .page-item {
                .page-link {
                    color: $body-color;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 0;
                    border: none;
                    box-shadow: 0px 0px 20px 0px rgba(60, 60, 60, 0.1);
                    border-radius: 50px;
                    margin: 0 5px;

                    &.active {
                        background: $heading-color;
                        color: $white-color;
                    }

                    &:hover {
                        background: $heading-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
}
/*----------  Blog Page Two CSS End ----------*/

/*----------  Blog Details Page Two CSS Start ----------*/
.page-title {
    &.title-bg-7 {
        background-image: url(../img/page-bg/7.jpg);
    }
}

.blog-details-area {
    .blog-post-area {
        .blog-details-img {
            margin-bottom: 30px;

            img {
                width: 100%;
                border-radius: 5px;
            }
        }

        h2 {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 15px;
            color: $heading-color;
        }

        p {
            margin-bottom: 15px;
        }

        ul {
            margin-bottom: 15px;
            padding-left: 0;

            li {
                list-style: none;
                color: $heading-color;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
            }
        }

        .post-img {
            margin-top: 15px;
            box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            border-radius: 10px;

            img {
                border-radius: 10px;
            }
        }
    }


    .blog-sidebar {
        .blog-search {
            box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 20px;

            form {
                position: relative;

                input {
                    width: 100%;
                    height: 50px;
                    padding: 20px;
                    background: #ddd;
                    border: 0;
                    border-radius: 5px;

                    &:focus {
                        border: 1px solid $heading-color;
                        outline:0;
                    }
                }

                ::placeholder {
                    color: $heading-color;
                }

                button {
                    position: absolute;
                    top: 4px;
                    right: 2px;

                    i {
                        color: $heading-color;
                        width: 40px;
                        height: 40px;
                        display: inline-block;
                        line-height: 40px;
                        border: 1px solid;
                        border-radius: 20px;
                        transition: .5s;
                        background: #dddddd;

                        &:hover {
                            background: $heading-color;
                            color: $white-color;
                        }
                    }
                }
            }
        }

        .blog-widget {
            box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            margin-bottom: 30px;

            h3 {
                padding: 20px;
                color: $white-color;
                background: $heading-color;
                margin-bottom: 0;
                font-weight:700;
                border-radius: 10px 10px 0 0;
                font-size: 20px;
            }

            .post-item {
                padding: 20px;
                border-bottom: 1px dashed #dddddd;
                overflow: hidden;

                a {
                    float: left;
                }

                .post-info {
                    padding-left: 100px;
                    padding-top: 10px;
                    line-height: 1;

                    time {
                        font-size: 14px;
                        margin-bottom: 5px;
                        display: inline-block;
                    }

                    h4 {
                        a {
                            font-size: 16px;
                            color: $body-color;
                            font-weight: 600;

                            &:hover {
                                color: $red-color;
                            }
                        }
                    }
                }

                &:last-child {
                    border-bottom: 0;
                }
            }

            ul {
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    font-size: 17px;
                    padding: 10px 20px;
                    border-bottom: 1px inset;
                    font-weight: 600;
                    transition: .5s;

                    a {
                        color: $body-color;

                        i {
                            font-weight: 600;
                        }
                    }

                    &:last-child {
                        border-bottom: 0px solid $heading-color;
                    }

                    &:hover {
                        background: $red-color;
                        color: $white-color;
                    }

                    &:hover a {
                        color: $white-color;
                    }
                }
            }
        }   

        .blog-tags {

            ul {
                padding: 20px;
                margin-bottom: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    padding:0; 
                    border-bottom: 0;

                    &:hover {
                        background: transparent;
                    }

                    a {
                        font-size: 15px;
                        transition: .5s;
                        font-weight: 400;
                        border: 1px dashed #dddddd;
                        display: inline-block;
                        margin-right: 8px;
                        margin-bottom: 10px;
                        color: $body-color;
                        padding: 5px 15px;

                        &:hover {
                            background: $red-color;
                            color: $white-color;
                        }
                    }

                }
            }
        }
    }
}
/*----------  Blog Details Page Two CSS End ----------*/

/*----------  Contact Page Two CSS Start ----------*/
.page-title {

    &.title-bg-8 {
        background-image: url(../img/page-bg/8.jpg);
    }
} 

.contact-card-section {
    .contact-card {
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        padding: 30px;
        text-align: center;
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin-bottom: 30px;

        &::before {
            position: absolute;
            content: '';
            background: $heading-color;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: .5s;
        }

        i {
            font-size: 30px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50px;
            color: $white-color;
            display: inline-block;
            border: 1px solid;
            margin-bottom:20px;
        }

        a {
            color: $white-color;
            display: block;
            line-height: 1;
            margin-bottom: 10px;
            font-size: 16px;
        }

        ul {
            padding-left: 0;
            margin-bottom: 0;

            li {
                color: $white-color;
                display: block;
                line-height: 1;
                margin-bottom: 10px;
                list-style: none;
                font-size: 16px;
            }
        }
    }
}

.contact-style-two {
    background: $white-color;

    .contact-area {
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        padding: 50px;

        .form-group {
            .form-control {
                background: #f5f5f5;
            }

            .message-field {
                background: #f5f5f5;
            }
        }
    }
}
/*----------  Contact Page Two CSS End ----------*/


/* PreLoader CSS Start */
.loader-content {
    background: $heading-color;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    text-align: center;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    transform-origin: 100% 100%;
  }
.sk-folding-cube .sk-cube2 {
    transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
    transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
    transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
    animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
    animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
    animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    } 
  }
  
@keyframes sk-foldCubeAngle {
    0%, 10% {
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0; 
    } 25%, 75% {
        transform: perspective(140px) rotateX(0deg);
        opacity: 1; 
    } 90%, 100% {
        transform: perspective(140px) rotateY(180deg);
        opacity: 0; 
    }
}
/* PreLoader CSS End */

/* Back Top CSS Start */
.top-btn {

    i {
        width: 40px;
        height: 50px;
        color:$white-color;
        background: $heading-color;
        text-align: center;
        border-radius:5px;
        position: fixed;
        bottom:15px;
        right:15px;
        cursor: pointer;
        font-size:30px;
        line-height:50px;
        z-index: 999;
        transition: .5s;
        display: inline-block;
    
        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height:0;
            background: #000;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            border-radius:5px;
            transition: .5s;
        }
    
        &:hover::before {
            height: 100%;
        }
    
        &:hover {
            color: $white-color;
        }
    }


}
/* Back Top CSS End */

/* Animation CSS  Start */

@keyframes rotate360 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes translate-one {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes line {

    0% {
        top:0%;
    }

    100% {
        top:95%;
    }
}

@keyframes shine {
	100% {
		left: 100%;
	}
}

@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

@keyframes fluid {
    0% {
        border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
    }

    30% {
        border-radius: 61% 39% 60% 40% / 58% 49% 51% 42%;
    }

    50% {
        border-radius: 63% 37% 62% 38% / 45% 53% 47% 55% ;
    }

    60% {       
        border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
    }
}

@keyframes bg-cng {
    0% {
        background: #f5ebff;
    }

    35% {
        background: $red-color;
        transform: translateY(10px);
    }

    70% {
        background: $heading-color;
        transform: translateY(0px);
    }

    100% {
        background: #f5ebff;
    }
}

@keyframes img-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}
/* Animation CSS End */