/*
@File: 



*******************************************
*******************************************

*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Titillium+Web:400,700&display=swap");
/* Color Variable */
/* Font Variable */
body {
  font-family: "Lato", sans-serif;
  color: #545454;
  line-height: 1.8;
  font-size: 17px;
}

/* Default CSS Start */
img {
  max-width: 100%;
}

a {
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

button {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

h3 {
  font-weight: 600;
  color: #0c1560;
  font-size: 22px;
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

.theme-btn {
  line-height: 1;
}

.theme-btn .default-btn {
  font-size: 18px;
  background: #ff440a;
  color: #ffffff;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 0 8px;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.theme-btn .default-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.theme-btn .default-btn:hover {
  color: #ff440a;
}

.theme-btn .default-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.section-title {
  margin-bottom: 50px;
}

.section-title span {
  font-size: 20px;
  color: #ff440a;
  font-weight: 700;
  margin-bottom: 15px;
  display: inline-block;
  line-height: 1;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: #0c1560;
  margin-bottom: 15px;
}

.section-title p {
  max-width: 600px;
}

/* Youtube Popup Butoon */
.mfp-iframe-holder .mfp-close {
  top: -45px;
  width: 45px;
  right: 0;
  text-align: center;
  height: 45px;
  line-height: 45px;
  padding: 0;
  border-radius: 0;
  border: 2px solid red;
  background: transparent;
}

/* Default CSS End */
/*---------- Home Page One CSS Start ----------*/
/* Header CSS Start */
.navbar-area .mean-container a.meanmenu-reveal span {
  height: 4px;
  margin-top: -6px;
  border-radius: 3px;
  position: relative;
  top: 8px;
}

.header-area {
  background: #0c1560;
  padding: 10px 0 10px;
}

.header-area .header-left ul {
  padding-left: 0;
  margin-bottom: 0;
}

.header-area .header-left ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  line-height: 1;
  position: relative;
}

.header-area .header-left ul li a {
  color: #ffffff;
}

.header-area .header-left ul li a i {
  color: #ff440a;
  margin-right: 6px;
  display: inline-block;
}

.header-area .header-right {
  text-align: right;
}

.header-area .header-right .header-social {
  padding-left: 0;
  margin-bottom: 0;
  display: inline-block;
}

.header-area .header-right .header-social li {
  list-style: none;
  display: inline-block;
}

.header-area .header-right .header-social li a i {
  color: #ffffff;
  font-size: 18px;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 0 0 14px;
}

.header-area .header-right .header-social li a i:hover {
  color: #ff440a;
}

/* Header CSS End */
/* Navbar CSS Start */
.navbar-area .main-nav {
  position: unset;
  background: #ffffff;
  padding: 15px 0;
}

.navbar-area .main-nav .navbar {
  padding: 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item {
  padding: 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item a {
  color: #2c2c2c;
  text-transform: capitalize;
  padding: 5px 0;
  margin: 0 0 0 40px;
  font-weight: 600;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item a:hover {
  color: #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .active {
  color: #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  background: #ffffff;
  border: 0;
  border-radius: 0;
  padding: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
  top: 80px;
  border-top: 2px solid #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #ff440a;
  left: 35px;
  top: -20px;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item a {
  color: #2c2c2c;
  text-transform: capitalize;
  padding: 20px;
  line-height: 1;
  position: relative;
  -webkit-transition: 0s;
  transition: 0s;
  margin: 0;
  border-bottom: 1px dashed #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item a:hover {
  color: #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .active {
  color: #ff440a;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item:last-child a {
  border-bottom: 0;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  top: 60px;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item:hover .dropdown-toggle::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #ff440a;
  top: -1px;
}

.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-toggle::after {
  content: '\ea99';
  font-family: icofont;
  margin-left: 0;
  vertical-align: 0;
  border: 0;
  font-size: 16px;
  right: -5px;
  position: relative;
  top: 2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 999;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100% !important;
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.15);
}

/* Navbar CSS End */
/* Banner CSS Start */
.banner-slider {
  position: relative;
}

.banner-slider .banner-item {
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 800px;
  z-index: 0;
}

.banner-slider .banner-item::before {
  position: absolute;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-30%, rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(rgba(0, 0, 0, 0) -30%, black 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-slider .banner-item .banner-text {
  text-align: center;
  max-width: 860px;
  margin: auto;
  padding-bottom: 100px;
}

.banner-slider .banner-item .banner-text h1 {
  font-size: 75px;
  font-weight: 700;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 30px;
}

.banner-slider .banner-item .banner-text p {
  color: #ffffff;
  max-width: 650px;
  margin: auto;
  font-size: 18px;
  margin-bottom: 35px;
}

.banner-slider .banner-item .banner-text .banner-btn {
  line-height: 1;
}

.banner-slider .banner-item .banner-text .banner-btn .default-btn {
  font-size: 18px;
  background: #ff440a;
  color: #ffffff;
  padding: 18px 30px;
  border-radius: 5px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.banner-slider .banner-item .banner-text .banner-btn .default-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.banner-slider .banner-item .banner-text .banner-btn .default-btn:hover {
  color: #ff440a;
}

.banner-slider .banner-item .banner-text .banner-btn .default-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.banner-slider .owl-item.active h1 {
  -webkit-animation: slideInDown 2s cubic-bezier(0, 0, 0, 1.02);
          animation: slideInDown 2s cubic-bezier(0, 0, 0, 1.02);
}

.banner-slider .owl-item.active p {
  -webkit-animation: slideInLeft 2s cubic-bezier(0, 0, 0, 1.02);
          animation: slideInLeft 2s cubic-bezier(0, 0, 0, 1.02);
}

.banner-slider .owl-item.active .banner-btn {
  -webkit-animation: slideInRight 2s cubic-bezier(0, 0, 0, 1.02);
          animation: slideInRight 2s cubic-bezier(0, 0, 0, 1.02);
}

.banner-slider .owl-prev, .banner-slider .owl-next {
  position: absolute;
  left: 20px;
  top: 45%;
  background: #ff440a !important;
  color: #ffffff !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px !important;
  line-height: 50px !important;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.banner-slider .owl-prev::before, .banner-slider .owl-next::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
}

.banner-slider .owl-prev:hover, .banner-slider .owl-next:hover {
  background: #ffffff !important;
  color: #ff440a !important;
}

.banner-slider .owl-next {
  left: inherit;
  right: 20px;
}

.banner-slider:hover .owl-prev {
  left: 40px;
  opacity: 1;
}

.banner-slider:hover .owl-next {
  right: 40px;
  opacity: 1;
}

.banner-slider .owl-nav {
  margin-top: 0;
}

.banner-bg-one {
  background-image: url(../img/banner/1.jpg);
}

.banner-bg-two {
  background-image: url(../img/banner/2.jpg);
}

/* Banner CSS End */
/* Features CSS Start */
.features-section {
  margin-top: -100px;
  z-index: 1;
  position: relative;
}

.features-section .feature-card {
  padding: 30px;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-bottom: 30px;
}

.features-section .feature-card i {
  color: #0c1560;
  font-size: 35px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #f5ebff;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  margin-bottom: 30px;
}

.features-section .feature-card span {
  display: block;
  font-size: 25px;
  color: #ff440a;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1;
}

.features-section .feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.features-section .feature-card p {
  font-size: 18px;
  margin-bottom: 0;
  line-height: 1.5;
}

.features-section .feature-card:hover {
  border: 1px solid #d7b4fe;
  margin-top: -10px;
}

/* Features CSS End */
/* About CSS Start */
.about-section {
  padding-bottom: 130px;
}

.about-section .section-title {
  margin: 0 auto 30px 0;
}

.about-section .about-img {
  position: relative;
}

.about-section .about-img::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #f5ebff;
  bottom: -30px;
  left: -30px;
  z-index: -1;
  -webkit-animation-name: bg-cng;
          animation-name: bg-cng;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.about-section .about-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #f5ebff;
  top: -30px;
  right: -30px;
  z-index: -1;
  -webkit-animation-name: bg-cng;
          animation-name: bg-cng;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.about-section .about-text {
  padding-left: 50px;
}

.about-section .about-text .nav-tabs {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.about-section .about-text .nav-tabs .nav-item {
  margin-bottom: 0;
}

.about-section .about-text .nav-tabs .nav-item .nav-link {
  font-size: 18px;
  color: #828282;
  border-bottom: 2px solid transparent;
  padding: 15px 0px;
  border: 0;
  line-height: 1;
  margin-right: 30px;
}

.about-section .about-text .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #ff440a;
  color: #ff440a;
  font-weight: 700;
}

.about-section .about-text .tab-content p {
  margin-bottom: 10px;
}

.about-section .about-text .theme-btn {
  margin-top: 30px;
}

.about-section .about-text .theme-btn .default-btn {
  border: 1px solid #ff440a;
  margin: 0;
}

/* About CSS End */
/* Transport CSS Start */
.transport-section .section-title {
  margin: 0 auto 50px;
}

.transport-section .section-title h2 {
  max-width: 600px;
  margin: auto;
}

.transport-section .transport-card {
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.transport-section .transport-card .transport-img {
  overflow: hidden;
}

.transport-section .transport-card .transport-img img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
  width: 100%;
}

.transport-section .transport-card .transport-text {
  position: relative;
  padding: 70px 30px 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.transport-section .transport-card .transport-text i {
  top: -40px;
  width: 80px;
  height: 80px;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  position: absolute;
  color: #ff440a;
  border-radius: 50px;
  background: #ffffff;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: .5s;
  transition: .5s;
}

.transport-section .transport-card .transport-text h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.transport-section .transport-card .transport-text p {
  margin-bottom: 15px;
}

.transport-section .transport-card .transport-text .theme-btn {
  -webkit-transition: .5s;
  transition: .5s;
}

.transport-section .transport-card .transport-text .theme-btn .default-btn {
  border: 1px solid #ff440a;
  margin: 0;
}

.transport-section .transport-card:hover .transport-text i {
  background: #ff440a;
  color: #ffffff;
  -webkit-animation: rotate360 3s 1 linear;
          animation: rotate360 3s 1 linear;
}

.transport-section .transport-card:hover .transport-img img {
  -webkit-transform: skewX(10deg) scale(1.2);
          transform: skewX(10deg) scale(1.2);
}

/* Transport CSS End */
/* Why Choose CSS Start */
.why-choose-section {
  position: relative;
}

.why-choose-section .why-choose-img {
  position: relative;
  background-image: url(../img/why-choose/1.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.why-choose-section .why-choose-img::before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.why-choose-section .why-choose-img .shipping-text {
  max-width: 400px;
  border-radius: 10px;
  background: #ff440a;
  padding: 65px 30px;
  position: absolute;
  top: 25%;
  right: 60px;
}

.why-choose-section .why-choose-img .shipping-text h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.why-choose-section .why-choose-img .shipping-text p {
  font-size: 15px;
  color: #ffffff;
}

.why-choose-section .why-choose-img .shipping-text form .form-group .form-control {
  border: 0;
  height: 50px;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.why-choose-section .why-choose-img .shipping-text form .shipping-btn {
  background: #0c1560;
  color: #ffffff;
  display: block;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  position: relative;
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

.why-choose-section .why-choose-img .shipping-text form .shipping-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.why-choose-section .why-choose-img .shipping-text form .shipping-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.why-choose-section .why-choose-img .shipping-text form .shipping-btn:hover {
  color: #0c1560;
}

.why-choose-section .why-choose-text {
  padding: 60px;
  background: #ece7f2;
}

.why-choose-section .why-choose-text .accordions {
  max-width: 500px;
}

.why-choose-section .why-choose-text .accordions .accordion-item {
  background-color: #f9f9f9;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title {
  cursor: pointer;
  padding: 15px 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #ffffff;
  padding-left: 60px;
  position: relative;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title i {
  position: absolute;
  left: 20px;
  top: 15px;
  color: #0c1560;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 25px;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title.active-title {
  background-color: #0c1560;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title.active-title h2, .why-choose-section .why-choose-text .accordions .accordion-item .accordion-title.active-title i {
  color: #ffffff;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title.active-title h2 i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title h2 {
  margin: 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0c1560;
  line-height: 20px;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-title h2 i {
  font-size: 25px;
  position: inherit;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-content {
  display: none;
  line-height: 1.7;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-content.active {
  display: block;
}

.why-choose-section .why-choose-text .accordions .accordion-item .accordion-content p {
  margin: 0;
}

/* Why Choose CSS End */
/* Get Qoute CSS End */
.get-quote-section {
  position: relative;
}

.get-quote-section .quote-text {
  padding-right: 80px;
}

.get-quote-section .quote-text .offer-text {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.get-quote-section .quote-text .offer-text span {
  color: #ffffff;
  background: #0c1560;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  border-radius: 100px;
  border: 5px solid #ff440a;
  font-weight: 700;
  font-size: 20px;
}

.get-quote-section .quote-text .offer-text p {
  position: absolute;
  top: 25px;
  right: -110px;
  background: #ff440a;
  color: #ffffff;
  font-weight: 700;
  width: 120px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  z-index: -1;
  font-size: 20px;
  border-radius: 0 30px 30px 0;
}

.get-quote-section .quote-text h2 {
  font-size: 35px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.get-quote-section .quote-text p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}

.get-quote-section .quote-text .theme-btn .default-btn {
  border: 1px solid #ff440a;
  margin: 0;
}

.get-quote-section .quote-form h2 {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 25px;
}

.get-quote-section .quote-form form .form-check-inline {
  margin-bottom: 15px;
}

.get-quote-section .quote-form form .form-check-inline .form-check-label {
  color: #ffffff;
  font-size: 16px;
}

.get-quote-section .quote-form form .select-item {
  position: relative;
}

.get-quote-section .quote-form form .select-item i {
  color: #707070;
  position: absolute;
  right: 17px;
  top: 16px;
  font-size: 20px;
}

.get-quote-section .quote-form form .form-control {
  height: 50px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.get-quote-section .quote-form form select.form-control {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.get-quote-section .quote-form form ::-webkit-input-placeholder {
  color: #707070;
}

.get-quote-section .quote-form form :-ms-input-placeholder {
  color: #707070;
}

.get-quote-section .quote-form form ::-ms-input-placeholder {
  color: #707070;
}

.get-quote-section .quote-form form ::placeholder {
  color: #707070;
}

.get-quote-section .quote-form form button {
  font-size: 18px;
  background: #ff440a;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 10px 0 0 0;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.get-quote-section .quote-form form button::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.get-quote-section .quote-form form button:hover {
  color: #ff440a;
}

.get-quote-section .quote-form form button:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.get-quote-section .lines {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: -1;
}

.get-quote-section .lines .line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  top: 0;
}

.get-quote-section .lines .line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  background: #ffffff;
  left: 0;
  top: 0%;
  right: 0;
  margin: auto;
  -webkit-animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
          animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
}

.get-quote-section .lines :nth-child(1) {
  margin-left: 25%;
}

.get-quote-section .lines :nth-child(2)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.get-quote-section .lines :nth-child(3) {
  margin-left: -25%;
}

.get-quote-section .lines :nth-child(3)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.quote-bg {
  background-image: url(../img/quote-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.quote-bg::before {
  position: absolute;
  content: '';
  background: #0c1560;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .85;
}

/* Get Qouote CSS End */
/* Worker CSS Start */
.worker-section .section-title p {
  margin: auto;
}

.worker-section .worker-card {
  border-radius: 10px;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.worker-section .worker-card .worker-img {
  overflow: hidden;
}

.worker-section .worker-card .worker-img img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.worker-section .worker-card .worker-text {
  text-align: center;
  padding: 20px;
}

.worker-section .worker-card .worker-text h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.worker-section .worker-card .worker-text p {
  margin-bottom: 0;
}

.worker-section .worker-card:hover .worker-img img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* Worker CSS CSS End */
/* Feedback CSS Start */
.feedback-section {
  padding-bottom: 200px;
}

.feedback-section .section-title span, .feedback-section .section-title h2, .feedback-section .section-title p {
  color: #ffffff;
}

.feedback-section .section-title p {
  margin: auto;
}

.feedback-section .feedback-slider {
  position: relative;
}

.feedback-section .feedback-slider .feedback-items {
  text-align: center;
  max-width: 450px;
  margin: auto;
}

.feedback-section .feedback-slider .feedback-items i {
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 35px;
  display: inline-block;
}

.feedback-section .feedback-slider .feedback-items p {
  margin-bottom: 40px;
  color: #ffffff;
}

.feedback-section .feedback-slider .feedback-items img {
  max-width: 100%;
  margin: 45px auto 10px;
  width: unset;
}

.feedback-section .feedback-slider .feedback-items h3 {
  color: #ffffff;
  margin-bottom: 5px;
}

.feedback-section .feedback-slider .feedback-items span {
  color: #ffffff;
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
}

.feedback-section .feedback-slider .owl-prev, .feedback-section .feedback-slider .owl-next {
  position: absolute;
  left: -65px;
  top: 35%;
  background: #ff440a !important;
  color: #ffffff !important;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 25px !important;
  line-height: 45px !important;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.feedback-section .feedback-slider .owl-prev:hover, .feedback-section .feedback-slider .owl-next:hover {
  background: #ffffff !important;
  color: #ff440a !important;
}

.feedback-section .feedback-slider .owl-next {
  left: inherit;
  right: -65px;
}

.feedback-section .feedback-slider:hover .owl-prev {
  left: -50px;
  opacity: 1;
}

.feedback-section .feedback-slider:hover .owl-next {
  right: -50px;
  opacity: 1;
}

.feedback-section .feedback-slider .owl-nav {
  margin-top: 0;
}

.feedback-bg {
  background-image: url(../img/feedback/feedback-bg.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.feedback-bg::before {
  position: absolute;
  content: '';
  background: #0c1560;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: .85;
  z-index: -1;
}

/* Feedback CSS End */
/* Company CSS Start */
.company-section {
  margin-top: -100px;
}

.company-section .company-slider {
  padding: 60px 25px 50px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.company-section .company-slider .company-logo img {
  max-width: 100%;
  width: unset;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
}

.company-section .company-slider .company-logo img:hover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* Company CSS End */
/* Blog CSS Start */
.blog-section .section-title p {
  margin: auto;
}

.blog-section .blog-card {
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.blog-section .blog-card .blog-img {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.blog-section .blog-card .blog-img a img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blog-section .blog-card .blog-text {
  padding: 30px;
}

.blog-section .blog-card .blog-text h3 {
  line-height: 1.4;
  margin-bottom: 15px;
}

.blog-section .blog-card .blog-text h3 a {
  color: #0c1560;
}

.blog-section .blog-card .blog-text h3 a:hover {
  color: #ff440a;
}

.blog-section .blog-card .blog-text ul {
  padding-left: 0;
  margin-bottom: 8px;
}

.blog-section .blog-card .blog-text ul li {
  font-size: 16px;
  list-style: none;
}

.blog-section .blog-card .blog-text ul li i {
  color: #ff440a;
  margin-right: 5px;
}

.blog-section .blog-card .blog-text p {
  margin-bottom: 18px;
}

.blog-section .blog-card .blog-text .blog-btn {
  display: inherit;
}

.blog-section .blog-card .blog-text .blog-btn i {
  color: #ff440a;
  font-size: 25px;
  width: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  background: #ffcdbd;
  display: inline-block;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.blog-section .blog-card .blog-text .blog-btn i:hover {
  background: #ff440a;
  color: #ffffff;
}

.blog-section .blog-card:hover .blog-img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/* Blog CSS End */
/* Newsletter CSS Start */
.newsletter-section {
  margin-bottom: -100px;
}

.newsletter-section .newsletter-area {
  background: #190231;
  padding: 65px;
  position: relative;
  border-radius: 10px;
  z-index: 1;
}

.newsletter-section .newsletter-area h2 {
  color: #ffffff;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1;
}

.newsletter-section .newsletter-area .newsletter-form {
  position: relative;
}

.newsletter-section .newsletter-area .newsletter-form .form-control {
  height: 60px;
  padding: 20px;
  border-radius: 5px;
}

.newsletter-section .newsletter-area .newsletter-form ::-webkit-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.newsletter-section .newsletter-area .newsletter-form :-ms-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.newsletter-section .newsletter-area .newsletter-form ::-ms-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.newsletter-section .newsletter-area .newsletter-form ::placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.newsletter-section .newsletter-area .newsletter-form .default-btn {
  font-size: 17px;
  background: #ff440a;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  margin: 0;
  display: inline-block;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  right: 4px;
  top: 4px;
  border: 1px solid #ff440a;
}

.newsletter-section .newsletter-area .newsletter-form .default-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.newsletter-section .newsletter-area .newsletter-form .default-btn:hover {
  color: #ff440a;
}

.newsletter-section .newsletter-area .newsletter-form .default-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.newsletter-section .newsletter-area .newsletter-form .validation-danger {
  color: #ffffff;
}

.newsletter-section img {
  position: absolute;
  right: 65px;
  top: -35px;
  max-width: 400px;
  -webkit-animation: img-scale 5s infinite linear;
          animation: img-scale 5s infinite linear;
}

/* Newsletter CSS End */
/* Footer CSS Start */
.footer-area {
  background: #0c1560;
  padding-top: 200px;
  position: relative;
  z-index: 0;
}

.footer-area .footer-widget {
  margin-bottom: 30px;
}

.footer-area .footer-widget img {
  margin-bottom: 30px;
}

.footer-area .footer-widget .footer-social {
  margin-top: 35px;
}

.footer-area .footer-widget .footer-social a i {
  color: #ffffff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  background: #461877;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  z-index: 0;
}

.footer-area .footer-widget .footer-social a i::after {
  position: absolute;
  content: '';
  background: #ff440a;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.footer-area .footer-widget .footer-social a i:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer-area .footer-widget h3 {
  color: #ffffff;
  margin-bottom: 40px;
  position: relative;
  padding-left: 10px;
}

.footer-area .footer-widget h3::before {
  position: absolute;
  content: '';
  background: #ff440a;
  width: 3px;
  height: 100%;
  left: 0px;
  top: 2px;
}

.footer-area .footer-widget h3::after {
  position: absolute;
  content: '';
  background: #0c1560;
  width: 3px;
  height: 3px;
  left: 0;
  top: 0;
  right: 0;
  -webkit-animation: translate-one 10s infinite cubic-bezier(0, 0, 0.46, 0.26);
          animation: translate-one 10s infinite cubic-bezier(0, 0, 0.46, 0.26);
}

.footer-area .footer-widget ul {
  padding-left: 0;
  list-style-type: none;
}

.footer-area .footer-widget ul li {
  color: #ffffff;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-area .footer-widget ul li::before {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  top: 15px;
  left: 0;
  background: #ff440a;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-area .footer-widget ul li:hover::before {
  width: 10px;
}

.footer-area .footer-widget ul li:hover {
  padding-left: 15px;
}

.footer-area .footer-widget ul li i {
  font-size: 16px;
  top: 0px;
  margin-right: 10px;
  position: relative;
}

.footer-area .footer-widget ul li a {
  color: #ffffff;
}

.footer-area .footer-widget ul li a:hover {
  color: #ff440a;
}

.footer-area .footer-widget ul :last-child {
  margin-bottom: 0;
}

.footer-area .copyright-area {
  text-align: center;
  background: #190231;
  margin-top: 60px;
}

.footer-area .copyright-area p {
  color: #ffffff;
  margin-bottom: 0;
  padding: 20px;
}

.footer-area .copyright-area p a {
  color: #ffffff;
}

.footer-area .copyright-area p a:hover {
  color: #ff440a;
}

.footer-area .lines {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: -1;
}

.footer-area .lines .line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  left: 46%;
  top: 0;
}

.footer-area .lines .line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  background: #ffffff;
  left: 0;
  top: 0%;
  right: 0;
  margin: auto;
  -webkit-animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
          animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
}

.footer-area .lines :nth-child(1) {
  margin-left: 22%;
}

.footer-area .lines :nth-child(2)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.footer-area .lines :nth-child(3) {
  margin-left: -20%;
}

.footer-area .lines :nth-child(3)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/* Footer CSS End */
/*---------- Home Page One CSS End ----------*/
/*---------- Home Page Two CSS Strat ----------*/
/* Navbar CSS Start */
.nav-style-two {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.nav-style-two .main-nav {
  background: transparent;
}

.nav-style-two .main-nav .navbar .navbar-nav .nav-item a {
  color: #ffffff;
}

.nav-style-two .main-nav .navbar .navbar-nav .nav-item a:hover {
  color: #ff440a;
}

.nav-style-two.is-sticky {
  background: #0c1560;
  border-bottom: 0;
}

/* Navbar CSS End */
/* Banner CSS Start */
.banner-style-two.banner-bg {
  background-image: url(../img/banner/2.jpg);
  background-position: center center;
  background-size: cover;
  height: 1000px;
  position: relative;
  z-index: 0;
}

.banner-style-two.banner-bg::before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner-style-two .banner-text h1 {
  font-size: 60px;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 30px;
  font-weight: 700;
}

.banner-style-two .banner-text p {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 35px;
}

.banner-style-two .banner-text .theme-btn .default-btn {
  padding: 18px 30px;
}

.banner-style-two .get-quote-section .quote-form {
  background: rgba(60, 12, 112, 0.5);
  padding: 45px 30px;
}

/* Banner CSS End */
/* Transport System CSS Start */
.transport-style-two {
  margin-top: -130px;
}

.transport-style-two .transport-card .transport-text p {
  margin-bottom: 0;
}

/* Transport System CSS End */
/* Why Choose CSS Start */
.choose-style-two .section-title p {
  margin: auto;
}

.choose-style-two .choose-card {
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  margin-bottom: 30px;
  border: 1px solid #eee0fe;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.choose-style-two .choose-card::before {
  content: '';
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  position: absolute;
  background: #0c1560;
}

.choose-style-two .choose-card::after {
  content: '';
  width: 0;
  height: 0;
  right: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
  position: absolute;
  background: #0c1560;
}

.choose-style-two .choose-card i {
  color: #ff440a;
  background: #fff0ec;
  margin-bottom: 20px;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  line-height: 70px;
  font-size: 40px;
  -webkit-transition: .5s;
  transition: .5s;
}

.choose-style-two .choose-card h3 {
  font-size: 18px;
  margin-bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.choose-style-two .choose-card:hover::before, .choose-style-two .choose-card:hover::after {
  width: 100%;
  height: 100%;
}

.choose-style-two .choose-card:hover h3 {
  color: #ffffff;
}

.choose-style-two .choose-card:hover i {
  color: #0c1560;
}

.choose-style-two .why-choose-image {
  -webkit-animation: img-scale 5s infinite linear;
          animation: img-scale 5s infinite linear;
}

/* Why Choose CSS End */
/* Track Product CSS Start */
.track-product {
  padding-bottom: 200px;
}

.track-product .track-text h2 {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
}

.track-product .track-text .newsletter-form {
  position: relative;
  max-width: 500px;
  margin: auto;
}

.track-product .track-text .newsletter-form .form-control {
  height: 60px;
  padding: 20px;
  border-radius: 5px;
}

.track-product .track-text .newsletter-form ::-webkit-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.track-product .track-text .newsletter-form :-ms-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.track-product .track-text .newsletter-form ::-ms-input-placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.track-product .track-text .newsletter-form ::placeholder {
  color: #707070;
  font-size: 18px;
  text-transform: capitalize;
}

.track-product .track-text .newsletter-form .default-btn {
  font-size: 17px;
  background: #ff440a;
  color: #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 0;
  display: inline-block;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  right: 5px;
  top: 4px;
  border: 1px solid #ff440a;
}

.track-product .track-text .newsletter-form .default-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.track-product .track-text .newsletter-form .default-btn:hover {
  color: #ff440a;
}

.track-product .track-text .newsletter-form .default-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.track-product.track-product-bg {
  background-image: url(../img/track-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.track-product.track-product-bg::before {
  position: absolute;
  content: '';
  background: rgba(60, 12, 112, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.track-product .lines {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: -1;
}

.track-product .lines .line {
  position: absolute;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  left: 50%;
  top: 0;
}

.track-product .lines .line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 10px;
  background: #ffffff;
  left: 0;
  top: 0%;
  right: 0;
  margin: auto;
  -webkit-animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
          animation: line 8s infinite cubic-bezier(0.2, 0.69, 1, 1);
}

.track-product .lines :nth-child(1) {
  margin-left: 25%;
}

.track-product .lines :nth-child(2)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.track-product .lines :nth-child(3) {
  margin-left: -25%;
}

.track-product .lines :nth-child(3)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

/* Track Product CSS End */
/* Facilities CSS Start */
.facilities-section .facilities-text h2 {
  font-size: 35px;
  font-weight: 700;
  color: #0c1560;
  margin-bottom: 10px;
}

.facilities-section .facilities-text p {
  margin-bottom: 30px;
}

.facilities-section .facilities-text ul {
  padding-left: 0;
  margin-bottom: 45px;
}

.facilities-section .facilities-text ul li {
  list-style: none;
  font-size: 20px;
  color: #0c1560;
  margin-bottom: 5px;
}

.facilities-section .facilities-text ul li i {
  color: #ffffff;
  background: #ff9979;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  margin-right: 5px;
  top: -3px;
  position: relative;
}

.facilities-section .facilities-text .theme-btn .default-btn {
  border: 1px solid #ff440a;
}

.facilities-section .facilities-img {
  background-image: url(../img/facilities-img.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
}

/* Facilities CSS End */
/* Company CSS Start */
.company-style-two {
  padding-top: 100px;
  padding-bottom: 100px;
}

.company-style-two .section-title p {
  margin: auto;
}

.company-style-two .company-slider {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  padding: 0;
}

/* Compnay CSS End */
/* Feedback CSS Start */
.feedback-style-two {
  padding-bottom: 100px;
}

/* Feedback CSS End */
/* Contact CSS Start */
.contact-section {
  background: #f7efff;
}

.contact-section .section-title p {
  margin: auto;
}

.contact-section .contact-img {
  background-image: url(../img/contact.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.contact-section .contact-area h2 {
  font-size: 35px;
  font-weight: 600;
  color: #0c1560;
  margin-bottom: 30px;
}

.contact-section .contact-area .form-group {
  margin-bottom: 20px;
}

.contact-section .contact-area .form-group .form-control {
  height: 60px;
  padding: 20px;
  border: 1px solid #d8b5ff;
}

.contact-section .contact-area .form-group .message-field {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #d8b5ff;
  outline: 0;
}

.contact-section .contact-area .form-group ::-webkit-input-placeholder {
  color: #a1a1a1;
  font-size: 16px;
}

.contact-section .contact-area .form-group :-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 16px;
}

.contact-section .contact-area .form-group ::-ms-input-placeholder {
  color: #a1a1a1;
  font-size: 16px;
}

.contact-section .contact-area .form-group ::placeholder {
  color: #a1a1a1;
  font-size: 16px;
}

.contact-section .contact-area .form-group .list-unstyled {
  color: #ff440a;
  font-size: 15px;
}

.contact-section .contact-area .default-btn {
  font-size: 18px;
  background: #ff440a;
  color: #ffffff;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #ff440a;
}

.contact-section .contact-area .default-btn::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  left: -14px;
  top: 0;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: skewX(10deg);
          transform: skewX(10deg);
  -webkit-transition: .5s;
  transition: .5s;
}

.contact-section .contact-area .default-btn:hover {
  color: #ff440a;
}

.contact-section .contact-area .default-btn:hover::before {
  width: 100%;
  -webkit-transform: skewX(0);
          transform: skewX(0);
  left: 0;
}

.contact-section .contact-area .text-danger {
  font-size: 20px;
  margin-top: 10px;
}

/* Contact CSS End */
/* Newsletter CSS Start */
.newsletter-style-two {
  background: #f7efff;
}

/* Newsletter CSS End */
/*---------- Home Page Two CSS End ----------*/
/*---------- Home Page Three CSS Start ----------*/
/* Banner CSS start */
.banner-style-three {
  height: 100vh;
  position: relative;
  background: #0c1560;
  padding-top: 60px;
}

.banner-style-three .banner-text {
  max-width: 650px;
}

.banner-style-three .banner-text h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  color: #ffffff;
  margin-bottom: 40px;
}

.banner-style-three .banner-text .theme-btn .default-btn {
  padding: 15px 25px;
}

.banner-style-three .banner-image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 570px;
  border-radius: 10px;
}

.banner-style-three .banner-image img {
  border-radius: 10px;
}

.banner-style-three .banner-shape img {
  position: absolute;
  -webkit-animation: img-scale 5s infinite linear;
          animation: img-scale 5s infinite linear;
}

.banner-style-three .banner-shape :nth-child(1) {
  top: 20%;
  left: 10%;
}

.banner-style-three .banner-shape :nth-child(2) {
  top: 20%;
  left: 30%;
}

.banner-style-three .banner-shape :nth-child(3) {
  top: 20%;
  right: 10%;
}

.banner-style-three .banner-shape :nth-child(4) {
  bottom: 10%;
  left: 50%;
}

.banner-style-three .banner-shape :nth-child(5) {
  top: 30%;
  left: 50%;
}

.banner-style-three .banner-shape :nth-child(6) {
  bottom: 5%;
  left: 15%;
}

/* Banner CSS End */
/* About CSS Start */
.about-style-three {
  padding-bottom: 100px;
}

.about-style-three .about-img::before {
  background: #0c1560;
  width: 90px;
  height: 150px;
  top: -65px;
  left: 0;
  -webkit-animation: none;
          animation: none;
  border-radius: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about-style-three .about-img::after {
  background: #0c1560;
  width: 90px;
  height: 150px;
  bottom: -60px;
  right: 15px;
  -webkit-animation: none;
          animation: none;
  border-radius: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: inherit;
}

.about-style-three .about-img img {
  border-radius: 10px;
}

/* About CSS End */
/* Trasnport CSS Start */
.transport-style-five .section-title p {
  margin: auto;
}

.transport-style-five .transport-card {
  text-align: center;
  margin-bottom: 30px;
  padding: 25px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
}

.transport-style-five .transport-card img {
  margin-bottom: 30px;
}

.transport-style-five .transport-card h3 {
  margin-bottom: 10px;
}

.transport-style-five .transport-card p {
  margin-bottom: 0;
}

/* Transport CSS End */
/* Achivement CSS Start */
.achivement-section .section-title h2 {
  color: #ffffff;
}

.achivement-section .section-title p {
  color: #ffffff;
  margin: auto;
}

.achivement-section .company-section {
  margin-top: 0;
  margin-bottom: 60px;
}

.achivement-section .features-section {
  margin-top: 0;
}

.achivement-section .features-section .feature-card {
  border: 0;
}

.achivement-section .features-section .feature-card:hover {
  background: #ff440a;
}

.achivement-section .features-section .feature-card:hover span, .achivement-section .features-section .feature-card:hover h3, .achivement-section .features-section .feature-card:hover p {
  color: #ffffff;
}

.achivement-bg {
  background-image: url(../img/achivement-bg.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.achivement-bg::before {
  position: absolute;
  content: '';
  background: rgba(60, 12, 112, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Achivement CSS End */
/* Feedback CSS Start */
.feedback-style-three .section-title p {
  margin: auto;
}

.feedback-style-three .feedback-slider-area {
  position: relative;
}

.feedback-style-three .feedback-slider-area .slider-items {
  max-width: 500px;
  margin: auto;
}

.feedback-style-three .feedback-slider-area .slider-items img {
  width: unset;
  margin: 0 auto  30px;
}

.feedback-style-three .feedback-slider-area .slider-items .client-info {
  margin-bottom: 15px;
}

.feedback-style-three .feedback-slider-area .slider-items .client-info h3 {
  margin-bottom: 0px;
}

.feedback-style-three .feedback-slider-area .slider-items .client-info span {
  color: #ff440a;
  font-size: 15px;
}

.feedback-style-three .feedback-slider-area .owl-prev, .feedback-style-three .feedback-slider-area .owl-next {
  position: absolute;
  left: 20px;
  top: 45%;
  background: #ff440a !important;
  color: #ffffff !important;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px !important;
  line-height: 50px !important;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid #ff440a;
}

.feedback-style-three .feedback-slider-area .owl-prev:hover, .feedback-style-three .feedback-slider-area .owl-next:hover {
  background: #ffffff !important;
  color: #ff440a !important;
}

.feedback-style-three .feedback-slider-area .owl-next {
  left: inherit;
  right: 20px;
}

.feedback-style-three .feedback-slider-area:hover .owl-prev {
  left: 40px;
  opacity: 1;
  border: 1px solid #ff440a;
}

.feedback-style-three .feedback-slider-area:hover .owl-next {
  right: 40px;
  opacity: 1;
  border: 1px solid #ff440a;
}

.feedback-style-three .feedback-slider-area .owl-nav {
  margin-top: 0;
}

/* Feedback CSS End */
/*---------- Home Page Three CSS End ----------*/
/*---------- About Page CSS Start ----------*/
/* Page Title CSS Start */
.page-title {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.page-title::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(12,21,96,.9)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(12,21,96,.9) 100%);
  top: 0;
  left: 0;
  z-index: 0;
}

.page-title .title-text {
  z-index: 1;
  position: relative;
}

.page-title .title-text h2 {
  font-size: 50px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 10px;
}

.page-title .title-text ul {
  margin-bottom: 0;
  padding-left: 0;
}

.page-title .title-text ul li {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
  margin: 0 15px;
  position: relative;
}

.page-title .title-text ul li::before {
  position: absolute;
  content: '';
  background: #ffffff;
  width: 5px;
  height: 6px;
  top: 8px;
  right: -20px;
}

.page-title .title-text ul li:last-child::before {
  display: none;
}

.page-title .title-text ul li a {
  color: #ffffff;
}

.page-title .title-text ul li a:hover {
  color: #ff440a;
}

.page-title.title-bg-1 {
  background-image: url(../img/page-bg/1.jpg);
}

/* Page Title CSS End*/
/* About Scetion CSS Start*/
.about-style-two {
  padding-top: 100px;
}

.about-style-two .about-img::before {
  background: none;
  border: 2px solid #ff440a;
}

.about-style-two .about-img::after {
  display: none;
}

/* About Section CSS End*/
/* Choose Section CSS Start*/
.choose-style-three .why-choose-img::before {
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}

.choose-style-three .why-choose-img:hover::before {
  -webkit-animation: shine 1s;
          animation: shine 1s;
}

/* Choose Section CSS End*/
/* Worker Section CSS Start */
.worker-style-two .worker-card {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.worker-style-two .worker-card .worker-img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border-radius: 200px;
}

.worker-style-two .worker-card .worker-text {
  padding-bottom: 0;
}

.worker-style-two .worker-card .worker-social {
  display: none;
}

.worker-style-two .worker-card:hover .worker-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* Worker Section CSS End */
/* Blog Section CSS Start */
.blog-style-two .blog-card .blog-img {
  position: relative;
}

.blog-style-two .blog-card .blog-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog-style-two .blog-card .blog-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.blog-style-two .blog-card:hover .blog-img img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog-style-two .blog-card:hover .blog-img::before {
  -webkit-animation: circle .75s;
          animation: circle .75s;
}

/* Blog Section CSS End */
/*---------- About Page CSS End ----------*/
/*---------- Service Page Two CSS Start ----------*/
/* Page Title Start */
.page-title.title-bg-2 {
  background-image: url(../img/page-bg/2.jpg);
}

/* Page Title End */
/* Transport Section Start */
.transport-style-three .transport-card .transport-img {
  position: relative;
}

.transport-style-three .transport-card .transport-img::before {
  position: absolute;
  content: '';
  background: #0c1560;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-100%, -100%) skewX(10deg);
          transform: translate(-100%, -100%) skewX(10deg);
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s;
}

.transport-style-three .transport-card .transport-img::after {
  position: absolute;
  content: '';
  background: #0c1560;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 100%) skewX(10deg);
          transform: translate(100%, 100%) skewX(10deg);
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s;
}

.transport-style-three .transport-card .transport-text {
  padding: 30px;
}

.transport-style-three .transport-card:hover .transport-img img {
  -webkit-transform: none;
          transform: none;
}

.transport-style-three .transport-card:hover .transport-img::before {
  -webkit-transform: translate(-60%, -60%) skewX(10deg);
          transform: translate(-60%, -60%) skewX(10deg);
}

.transport-style-three .transport-card:hover .transport-img::after {
  -webkit-transform: translate(60%, 60%) skewX(10deg);
          transform: translate(60%, 60%) skewX(10deg);
}

/* Transport Sectio End */
/*---------- Service Page One CSS End ----------*/
/*---------- Service Page Two CSS Start ----------*/
.page-title.title-bg-3 {
  background-image: url(../img/page-bg/3.jpg);
}

.transport-style-four .transport-card {
  padding: 25px;
}

.transport-style-four .transport-card .transport-text {
  padding: 0;
}

.transport-style-four .transport-card .transport-text i {
  position: unset;
  display: inline-block;
  margin-bottom: 35px;
}

.transport-style-four .transport-card .transport-text a i {
  background: transparent;
  color: #ff440a;
  width: 55px;
  height: 55px;
  font-size: 30px;
  line-height: 55px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  position: unset;
  border: 1px dashed #ff440a;
}

.transport-style-four .transport-card:hover a i {
  -webkit-animation: none !important;
          animation: none !important;
}

.footer-style-two {
  padding-top: 100px;
}

/*---------- Service Page Two CSS End ----------*/
/*---------- Service Details CSS Start ----------*/
/* Blog Details CSS Start */
.service-details-area .service-post-area .service-details-img {
  margin-bottom: 30px;
}

.service-details-area .service-post-area .service-details-img img {
  width: 100%;
  border-radius: 5px;
}

.service-details-area .service-post-area h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0c1560;
}

.service-details-area .service-post-area p {
  margin-bottom: 15px;
}

.service-details-area .service-post-area ul {
  margin-bottom: 15px;
  padding-left: 0;
}

.service-details-area .service-post-area ul li {
  list-style: none;
  color: #0c1560;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.service-details-area .service-post-area .post-img {
  margin-top: 15px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 10px;
}

.service-details-area .service-post-area .post-img img {
  border-radius: 10px;
}

.service-details-area .service-sidebar .sidebar-widget {
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.service-details-area .service-sidebar .sidebar-widget h3 {
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  background: #0c1560;
  margin-bottom: 0;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
}

.service-details-area .service-sidebar .sidebar-widget ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.service-details-area .service-sidebar .sidebar-widget ul li {
  font-size: 17px;
  padding: 10px 20px;
  border-bottom: 1px inset;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
}

.service-details-area .service-sidebar .sidebar-widget ul li i {
  font-weight: 600;
  margin-right: 5px;
}

.service-details-area .service-sidebar .sidebar-widget ul li:last-child {
  border-bottom: 0px solid #0c1560;
}

.service-details-area .service-sidebar .sidebar-widget ul li:hover {
  background: #ff440a;
  color: #ffffff;
}

.service-details-area .service-sidebar .sidebar-widget ul li:hover a {
  color: #ffffff;
}

.service-details-area .service-sidebar .sidebar-widget ul li a {
  color: #545454;
}

.service-details-area .service-sidebar .sidebar-widget ul li a i {
  font-weight: 600;
  margin-right: 5px;
}

/* Blog Details CSS End */
/* Company CSS Start */
.company-style-three {
  margin-top: 0;
}

/* Company CSS End */
/*---------- Service Details CSS End ----------*/
/*---------- Why Choose Page CSS Start ----------*/
.page-title.title-bg-10 {
  background-image: url(../img/page-bg/10.jpg);
}

.choose-style-three .choose-card::before {
  height: 100%;
}

.choose-style-three .choose-card::after {
  height: 100%;
}

/*---------- Why Choose Page CSS End ----------*/
/*---------- Faq Page CSS Start ----------*/
.page-title.title-bg-4 {
  background-image: url(../img/page-bg/4.jpg);
}

.faq-section .accordions .accordion-item {
  background-color: #f9f9f9;
  margin-bottom: 30px;
  border: 1px solid #0c1560;
}

.faq-section .accordions .accordion-item .accordion-title {
  cursor: pointer;
  padding: 15px 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #ffffff;
  position: relative;
}

.faq-section .accordions .accordion-item .accordion-title.active-title {
  background-color: #0c1560;
}

.faq-section .accordions .accordion-item .accordion-title.active-title h2 {
  color: #ffffff;
}

.faq-section .accordions .accordion-item .accordion-title.active-title h2 i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq-section .accordions .accordion-item .accordion-title h2 {
  margin: 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #0c1560;
  line-height: 20px;
}

.faq-section .accordions .accordion-item .accordion-title h2 i {
  font-size: 25px;
  position: inherit;
}

.faq-section .accordions .accordion-item .accordion-content {
  display: none;
  line-height: 1.7;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}

.faq-section .accordions .accordion-item .accordion-content.active {
  display: block;
}

.faq-section .accordions .accordion-item .accordion-content p {
  margin: 0;
}

/*---------- Faq Page CSS End ----------*/
/*---------- Error Page CSS Start ----------*/
.page-title.title-bg-4 {
  background-image: url(../img/page-bg/4.jpg);
}

.error-section {
  position: relative;
}

.error-section::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: 100px;
  left: 100px;
  background: linear-gradient(45deg, #3023AE 0%, #f09 100%);
  border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
  opacity: .15;
  -webkit-animation: fluid 5s infinite linear;
          animation: fluid 5s infinite linear;
}

.error-section h2 {
  font-size: 50px;
  color: #0c1560;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
  margin-top: 35px;
}

.error-section .theme-btn .default-btn {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border: 1px solid #ff440a;
  padding: 15px 40px;
}

/*---------- Error Page CSS End ----------*/
/*---------- Why Choose Page CSS Start ----------*/
.page-title.title-bg-5 {
  background-image: url(../img/page-bg/5.jpg);
}

/*---------- Why Choose Page CSS End ----------*/
/*----------  Privacy Page CSS Start ----------*/
.privacy-section .privacy-text h2 {
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
}

.privacy-section .privacy-text p {
  margin-bottom: 15px;
}

.privacy-section .privacy-text p:last-child {
  margin-bottom: 0;
}

/*----------  Privacy Page CSS End ----------*/
/*----------  Terms Page CSS Start ----------*/
.page-title.title-bg-9 {
  background-image: url(../img/page-bg/9.jpg);
}

.terms-section .terms-text h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #0c1560;
}

.terms-section .terms-text h3 {
  margin-bottom: 10px;
}

.terms-section .terms-text p {
  font-size: 18px;
  margin-bottom: 15px;
}

.terms-section .terms-text p:last-child {
  margin-bottom: 0;
}

/*----------  Terms Page CSS End ----------*/
/*----------  Coming Page CSS Start ----------*/
.coming-soon {
  height: 100vh;
}

.coming-soon h2 {
  margin-bottom: 20px;
}

.coming-soon a {
  color: #ff440a;
}

.coming-soon a:hover {
  color: #ffffff;
}

/*----------  Coming Page CSS End ----------*/
/*----------  Blog Page One CSS Start ----------*/
.page-title.title-bg-6 {
  background-image: url(../img/page-bg/6.jpg);
}

/*----------  Blog Page One CSS End ----------*/
/*----------  Blog Page Two CSS Start ----------*/
.page-title.title-bg-7 {
  background-image: url(../img/page-bg/7.jpg);
}

.blog-style-three .blog-card .blog-img {
  position: relative;
}

.blog-style-three .blog-card .blog-img .blog-btn {
  top: 0;
  left: 0;
  right: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  background: rgba(0, 0, 0, 0.65);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.blog-style-three .blog-card .blog-img .blog-btn a {
  left: 0;
  top: 40%;
  right: 0;
  width: 40px;
  margin: auto;
  height: 40px;
  line-height: 40px;
  border: 1px solid;
  text-align: center;
  position: absolute;
  color: #ffffff;
  border-radius: 45px;
  display: inline-block;
  background: transparent;
}

.blog-style-three .blog-card .blog-img .blog-btn a:hover {
  background: #0c1560;
}

.blog-style-three .blog-card .blog-text p {
  margin-bottom: 0;
}

.blog-style-three .blog-card:hover .blog-img img {
  -webkit-transform: none;
          transform: none;
}

.blog-style-three .blog-card:hover .blog-img .blog-btn {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.blog-style-three nav .pagination {
  margin: 30px 0;
}

.blog-style-three nav .pagination .page-item .page-link {
  color: #545454;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(60, 60, 60, 0.1);
          box-shadow: 0px 0px 20px 0px rgba(60, 60, 60, 0.1);
  border-radius: 50px;
  margin: 0 5px;
}

.blog-style-three nav .pagination .page-item .page-link.active {
  background: #0c1560;
  color: #ffffff;
}

.blog-style-three nav .pagination .page-item .page-link:hover {
  background: #0c1560;
  color: #ffffff;
}

/*----------  Blog Page Two CSS End ----------*/
/*----------  Blog Details Page Two CSS Start ----------*/
.page-title.title-bg-7 {
  background-image: url(../img/page-bg/7.jpg);
}

.blog-details-area .blog-post-area .blog-details-img {
  margin-bottom: 30px;
}

.blog-details-area .blog-post-area .blog-details-img img {
  width: 100%;
  border-radius: 5px;
}

.blog-details-area .blog-post-area h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #0c1560;
}

.blog-details-area .blog-post-area p {
  margin-bottom: 15px;
}

.blog-details-area .blog-post-area ul {
  margin-bottom: 15px;
  padding-left: 0;
}

.blog-details-area .blog-post-area ul li {
  list-style: none;
  color: #0c1560;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.blog-details-area .blog-post-area .post-img {
  margin-top: 15px;
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 10px;
}

.blog-details-area .blog-post-area .post-img img {
  border-radius: 10px;
}

.blog-details-area .blog-sidebar .blog-search {
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
}

.blog-details-area .blog-sidebar .blog-search form {
  position: relative;
}

.blog-details-area .blog-sidebar .blog-search form input {
  width: 100%;
  height: 50px;
  padding: 20px;
  background: #ddd;
  border: 0;
  border-radius: 5px;
}

.blog-details-area .blog-sidebar .blog-search form input:focus {
  border: 1px solid #0c1560;
  outline: 0;
}

.blog-details-area .blog-sidebar .blog-search form ::-webkit-input-placeholder {
  color: #0c1560;
}

.blog-details-area .blog-sidebar .blog-search form :-ms-input-placeholder {
  color: #0c1560;
}

.blog-details-area .blog-sidebar .blog-search form ::-ms-input-placeholder {
  color: #0c1560;
}

.blog-details-area .blog-sidebar .blog-search form ::placeholder {
  color: #0c1560;
}

.blog-details-area .blog-sidebar .blog-search form button {
  position: absolute;
  top: 4px;
  right: 2px;
}

.blog-details-area .blog-sidebar .blog-search form button i {
  color: #0c1560;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  border: 1px solid;
  border-radius: 20px;
  -webkit-transition: .5s;
  transition: .5s;
  background: #dddddd;
}

.blog-details-area .blog-sidebar .blog-search form button i:hover {
  background: #0c1560;
  color: #ffffff;
}

.blog-details-area .blog-sidebar .blog-widget {
  -webkit-box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 30px;
}

.blog-details-area .blog-sidebar .blog-widget h3 {
  padding: 20px;
  color: #ffffff;
  background: #0c1560;
  margin-bottom: 0;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
}

.blog-details-area .blog-sidebar .blog-widget .post-item {
  padding: 20px;
  border-bottom: 1px dashed #dddddd;
  overflow: hidden;
}

.blog-details-area .blog-sidebar .blog-widget .post-item a {
  float: left;
}

.blog-details-area .blog-sidebar .blog-widget .post-item .post-info {
  padding-left: 100px;
  padding-top: 10px;
  line-height: 1;
}

.blog-details-area .blog-sidebar .blog-widget .post-item .post-info time {
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

.blog-details-area .blog-sidebar .blog-widget .post-item .post-info h4 a {
  font-size: 16px;
  color: #545454;
  font-weight: 600;
}

.blog-details-area .blog-sidebar .blog-widget .post-item .post-info h4 a:hover {
  color: #ff440a;
}

.blog-details-area .blog-sidebar .blog-widget .post-item:last-child {
  border-bottom: 0;
}

.blog-details-area .blog-sidebar .blog-widget ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.blog-details-area .blog-sidebar .blog-widget ul li {
  font-size: 17px;
  padding: 10px 20px;
  border-bottom: 1px inset;
  font-weight: 600;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-details-area .blog-sidebar .blog-widget ul li a {
  color: #545454;
}

.blog-details-area .blog-sidebar .blog-widget ul li a i {
  font-weight: 600;
}

.blog-details-area .blog-sidebar .blog-widget ul li:last-child {
  border-bottom: 0px solid #0c1560;
}

.blog-details-area .blog-sidebar .blog-widget ul li:hover {
  background: #ff440a;
  color: #ffffff;
}

.blog-details-area .blog-sidebar .blog-widget ul li:hover a {
  color: #ffffff;
}

.blog-details-area .blog-sidebar .blog-tags ul {
  padding: 20px;
  margin-bottom: 0;
  list-style-type: none;
}

.blog-details-area .blog-sidebar .blog-tags ul li {
  display: inline-block;
  padding: 0;
  border-bottom: 0;
}

.blog-details-area .blog-sidebar .blog-tags ul li:hover {
  background: transparent;
}

.blog-details-area .blog-sidebar .blog-tags ul li a {
  font-size: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 400;
  border: 1px dashed #dddddd;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  color: #545454;
  padding: 5px 15px;
}

.blog-details-area .blog-sidebar .blog-tags ul li a:hover {
  background: #ff440a;
  color: #ffffff;
}

/*----------  Blog Details Page Two CSS End ----------*/
/*----------  Contact Page Two CSS Start ----------*/
.page-title.title-bg-8 {
  background-image: url(../img/page-bg/8.jpg);
}

.contact-card-section .contact-card {
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-bottom: 30px;
}

.contact-card-section .contact-card::before {
  position: absolute;
  content: '';
  background: #0c1560;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact-card-section .contact-card i {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  border: 1px solid;
  margin-bottom: 20px;
}

.contact-card-section .contact-card a {
  color: #ffffff;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-card-section .contact-card ul {
  padding-left: 0;
  margin-bottom: 0;
}

.contact-card-section .contact-card ul li {
  color: #ffffff;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
}

.contact-style-two {
  background: #ffffff;
}

.contact-style-two .contact-area {
  -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  padding: 50px;
}

.contact-style-two .contact-area .form-group .form-control {
  background: #f5f5f5;
}

.contact-style-two .contact-area .form-group .message-field {
  background: #f5f5f5;
}

/*----------  Contact Page Two CSS End ----------*/
/* PreLoader CSS Start */
.loader-content {
  background: #0c1560;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  text-align: center;
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* PreLoader CSS End */
/* Back Top CSS Start */
.top-btn i {
  width: 40px;
  height: 50px;
  color: #ffffff;
  background: #0c1560;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  z-index: 999;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
}

.top-btn i::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0;
  background: #000;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.top-btn i:hover::before {
  height: 100%;
}

.top-btn i:hover {
  color: #ffffff;
}

/* Back Top CSS End */
/* Animation CSS  Start */
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate360 {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes translate-one {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes translate-one {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(35px);
            transform: translateY(35px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes line {
  0% {
    top: 0%;
  }
  100% {
    top: 95%;
  }
}

@keyframes line {
  0% {
    top: 0%;
  }
  100% {
    top: 95%;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}

@keyframes shine {
  100% {
    left: 100%;
  }
}

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@-webkit-keyframes fluid {
  0% {
    border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
  }
  30% {
    border-radius: 61% 39% 60% 40% / 58% 49% 51% 42%;
  }
  50% {
    border-radius: 63% 37% 62% 38% / 45% 53% 47% 55%;
  }
  60% {
    border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
  }
}

@keyframes fluid {
  0% {
    border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
  }
  30% {
    border-radius: 61% 39% 60% 40% / 58% 49% 51% 42%;
  }
  50% {
    border-radius: 63% 37% 62% 38% / 45% 53% 47% 55%;
  }
  60% {
    border-radius: 42% 58% 61% 39% / 55% 53% 47% 45%;
  }
}

@-webkit-keyframes bg-cng {
  0% {
    background: #f5ebff;
  }
  35% {
    background: #ff440a;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    background: #0c1560;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    background: #f5ebff;
  }
}

@keyframes bg-cng {
  0% {
    background: #f5ebff;
  }
  35% {
    background: #ff440a;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  70% {
    background: #0c1560;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    background: #f5ebff;
  }
}

@-webkit-keyframes img-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes img-scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Animation CSS End */
/*# sourceMappingURL=style.css.map */
